@import "../../styles/ed/title-bar.mixin.less";
@import "../../styles/ed/list-style.mixin.less";

.discover-wrapper {
  background-color: @darkPurple3;
  height: 100%;
  margin: 0 auto;
  max-width: 59.6rem;
  overflow-x: hidden;
  position: relative;
  .discover-list {
    .edListStyle();
    overflow: hidden;
    .genre-title {
      .edType(heading-XS);
      color: @originalTeal;
      text-transform: uppercase;
      padding: 6rem 0 1.8rem 2rem;
      &:active, &:hover, &:focus {
        background-color: @darkPurple3;
      }
    }
  }
}
