@import "../../styles/ed/title-bar.mixin.less";
@import "../../styles/ed/list-style.mixin.less";

.discover-heading {
  .title-bar();
}

.discover-list {
  .list-style();

  .genre-title {
    .edType( heading-XS );
    color: @originalTeal;
    text-transform: uppercase;
    &:active, &:hover {
      background-color: @darkPurple3;
    }
  }
}
