<link rel="import" href="../../../components/ed/ed-icon/ed-icon.html"/>

<polymer-element name="ed-discover-view" attributes="">
  <template>
    <link rel="stylesheet" href="./ed-discover-view.css">
    <div class="discover-container">
      <div class="discover-title-bar">

      </div>
      <div>
        <ul>
          <li>
            <button id="featured-button" class="">Featured</button>
          </li>
          <li>
            <p>BY GENRE</p>
          </li>
          <li>
            <button id="pop-button" class="">Pop</button>
          </li>
          <li>
            <button id="rock-button" class="">Rock</button>
          </li>
          <li>
            <button id="alternative-button" class="">Alternative</button>
          </li>
          <li>
            <button id="country-button" class="">Country</button>
          </li>
          <li>
            <button id="hiphop-button" class="">Hip-Hop/Urban</button>
          </li>
          <li>
            <button id="edm-button" class="">EDM</button>
          </li>
        </ul>
      </div>


    </div>
    </template>
</polymer-element>
