<link rel="import" href="../../components/ed/ed-icon/ed-icon.html"/>

<polymer-element name="ed-discover-view" attributes="">
  <template>
    <link rel="stylesheet" href="./ed-discover-view.css">

    <div class="discover-heading title-bar">
      <ed-icon name="burger"></ed-icon>
      <span>discover</span>
    </div>

    <ul class="discover-list list-style hidden">
      <li id="featured-button">Featured</li>
      <li class="genre-title">by genre</li>
      <li id="pop-button">Pop</li>
      <li id="rock-button">Rock</li>
      <li id="alternative-button">Alternative</li>
      <li id="country-button">Country</li>
      <li id="hiphop-button">Hip-Hop/Urban</li>
      <li id="edm-button">EDM</li>
    </ul>

  </template>
  <script src="ed-discover-view.js"></script>
</polymer-element>
