:host {
  display: block;
  position: relative;
  border:thin solid black;
}

:host ::content * {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

input[type="radio"] {
  margin: 0;
  padding: 0;
  visibility: hidden;
  &:checked + content[select="*"]::content * {
    opacity: 1;
  }
}
