#scrubberWrapper {
  overflow: hidden;
}

input[type=range] {
  -webkit-appearance: none;
  margin:             18px 0;
  width:              100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  box-sizing:         border-box;
  border:             8px solid #BECFE4;
  height:             22px;
  width:              22px;
  opacity:            0.7;
  background:         #4F81BD;
  cursor:             pointer;
  -webkit-appearance: none;
  margin-top:         -9px;
}
input[type=range]::-webkit-slider-thumb:hover {
  opacity:      1;
  border-width: 0;
}

input[type=range]::-webkit-slider-runnable-track {
  width:         100%;
  height:        6px;
  cursor:        pointer;
  background:    #DDD;
  border-radius: 3px;
}

// firefox
input[type=range]::-moz-range-track {
  width:         100%;
  height:        6px;
  cursor:        pointer;
  background:    #DDD;
  border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
  -moz-box-sizing:    border-box;
  border:             8px solid #BECFE4;
  height:             22px;
  width:              22px;
  opacity:            0.7;
  background:         #4F81BD;
  cursor:             pointer;
  margin-top:         -9px;
}
input[type=range]::-moz-range-thumb:hover {
  opacity:      1;
  border-width: 0;
}

// internet explorer
input[type="range"]::-ms-track {
  width:        100%;
  height:       2px;
  cursor:       pointer;
  background:   transparent;
  border-color: transparent;
  border-width: 16px 0;
  color:        transparent;
}
input[type="range"]::-ms-fill-lower {
  background:    #666;
  border:        0.2px solid #010101;
  border-radius: 2.6px;
}
input[type="range"]::-ms-fill-upper {
  background:    #666;
  border:        0.2px solid #010101;
  border-radius: 2.6px;
}
input[type="range"]::-ms-thumb {
  border:        1px solid #000000;
  height:        36px;
  width:         36px;
  border-radius: 3px;
  background:    #b6514c;
  cursor:        pointer;
}

//bar
.bar {
  input[type="range"]::-webkit-slider-thumb {
    border: 0;
    width:  5px;
  }
  input[type="range"]::-moz-range-thumb {
    border:        0;
    width:         5px;
  }
  input[type="range"]::-ms-track {
    width:        100%;
    height:       2px;
    cursor:       pointer;
    background:   transparent;
    border-color: transparent;
    border-width: 16px 0;
    color:        transparent;
  }
  input[type="range"]::-ms-thumb {

    width:         10px;
    background:    #ffffff;
  }
}

//bubble
.bubble {
  input[type="range"]::-webkit-slider-thumb {
    border-radius: 100%;
  }
  input[type="range"]::-moz-range-thumb {
    border-radius: 100%;
  }
  input[type="range"]::-ms-thumb {
    height:        20px;
    width:         20px;
    border-radius: 20px;
    background:    #ffffff;
  }
}

// fill
.fill {
  input[type="range"] {
    -webkit-appearance: none;
    margin:             0;
    width:              100%;
    position:           relative;
    opacity:            0.5;
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    width:          100%;
    height:         22px;
    cursor:         pointer;
    border-radius:  3px;
    opacity:        0;
    display:        inline-block;
  }
  input[type="range"]::-webkit-slider-thumb {
    opacity:            0;
    cursor:             pointer;
    -webkit-appearance: none;
    margin-top:         0px;
  }
  input[type="range"]::-moz-range-track {
    width:          100%;
    height:         24px;
    cursor:         pointer;
    border-radius:  3px;
    opacity:        0.5;
    display:        inline-block;
  }
  input[type="range"]::-moz-range-thumb {
    opacity:  0;
    cursor:   pointer;
  }
  .back-fill {
    height:     18px;
    background: #4F81BD;
    width:      50%;
    margin-top: -24px;
    z-index:    -1;
  }
}
