#scrubberWrapper {
  overflow: hidden;
}

input[type=range] {
  -webkit-appearance: none;
  margin:             18px 0;
  width:              100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb:hover {
  opacity:      1;
  border-width: 0;
}

input[type=range]::-webkit-slider-runnable-track {
  width:         100%;
  height:        6px;
  cursor:        pointer;
  background:    #DDD;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  box-sizing:         border-box;
  border:             8px solid #BECFE4;
  height:             22px;
  width:              22px;
  opacity:            0.7;
  background:         #4F81BD;
  cursor:             pointer;
  -webkit-appearance: none;
  margin-top:         -9px;
}

// firefox
input[type=range]::-moz-range-track {
  width:         100%;
  height:        6px;
  cursor:        pointer;
  background:    #DDD;
  border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
  -moz-box-sizing:    border-box;
  border:             8px solid #BECFE4;
  height:             22px;
  width:              22px;
  opacity:            0.7;
  background:         #4F81BD;
  cursor:             pointer;
  margin-top:         -9px;
}
input[type=range]::-moz-range-thumb:hover {
  opacity:      1;
  border-width: 0;
}

// internet explorer
input[type=range]::-ms-track {
  width:        100%;
  height:       2px;
  cursor:       pointer;
  background:   transparent;
  border-color: transparent;
  border-width: 16px 0;
  color:        transparent;
}
input[type=range]::-ms-fill-lower {
  background:    #666;
  border:        0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow:    1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background:    #666;
  border:        0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow:    1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow:    1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border:        1px solid #000000;
  height:        36px;
  width:         36px;
  border-radius: 3px;
  background:    #b6514c;
  cursor:        pointer;
}



//bar
.bar {
  input[type=range]::-webkit-slider-thumb {
    border: 0;
    width:  5px;
  }
  input[type=range]::-moz-range-thumb {
    border:        0;
    width:         5px;
  }
  input[type=range]::-ms-track {
    width:        100%;
    height:       2px;
    cursor:       pointer;
    background:   transparent;
    border-color: transparent;
    border-width: 16px 0;
    color:        transparent;
  }
  input[type=range]::-ms-fill-lower {
    background:    #666;
    border:        0.2px solid #010101;
    border-radius: 2.6px;
  }
  input[type=range]::-ms-fill-upper {
    background:    #666;
    border:        0.2px solid #010101;
    border-radius: 2.6px;
  }
  input[type=range]::-ms-thumb {
    border:        1px solid #000000;
    height:        36px;
    width:         10px;
    border-radius: 3px;
    background:    #ffffff;
    cursor:        pointer;
  }
}


//bubble
.bubble {
  input[type=range]::-webkit-slider-thumb {
    border-radius: 100%;
  }
  input[type=range]::-moz-range-thumb {
    border-radius: 100%;
  }

  input[type=range]::-ms-track {
    width:        100%;
    height:       2px;
    cursor:       pointer;
    background:   transparent;
    border-color: transparent;
    border-width: 16px 0;
    color:        transparent;
  }
  input[type=range]::-ms-fill-lower {
    background:    #666;
    border:        0.2px solid #010101;
    border-radius: 2.6px;
  }
  input[type=range]::-ms-fill-upper {
    background:    #666;
    border:        0.2px solid #010101;
    border-radius: 2.6px;
  }
  input[type=range]::-ms-thumb {
    border:        1px solid #000000;
    height:        20px;
    width:         20px;
    border-radius: 20px;
    background:    #ffffff;
    cursor:        pointer;
  }
}


// fill
.fill {
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position:           relative;
    pointer-events:     none;
    width:              2px;
    height:             100%;
    //box-shadow: 0px 0px 1px #0d0d0d;
    border:             1px solid #000000;
    cursor:             pointer;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: #757575;
    height:     36px;
    margin:     5px 0;
  }
  input[type=range]::-webkit-slider-thumb:before {
    content:     "-";
    font-style:  0;
    line-height: 0;
    position:    absolute;
    left:        -3000px;
    right:       0;
    top:         0;
    bottom:      0;
    background:  #b6514c;
  }
  input[type=range]::-webkit-slider-thumb:after {
    content:  "";
    position: absolute;
  }
}
