@import "../../../styles/ed/colors.vars.less";
@import "../../../styles/mixins/prefixes/transforms.less";
@import "../../../styles/ed/text-styles.mixin.less";

#back-circle {
  stroke: @originalPurple;
}

#front-circle {
  stroke: @originalTeal;
}
#mid-circle {
  stroke: @originalTeal;
  opacity: .25;
}

#circle-scrubber {
  stroke: @grey2;
}

#front-circle {
  -webkit-animation: scrub 5s forwards;
}

#mid-circle {
  -webkit-animation: scrubMid 5s forwards;
}
#circle-scrubber {
  stroke-dasharray: 1, 220%;
  stroke-linecap: round;
}

#mid-circle, #front-circle, #circle-scrubber {
  .transform( rotate(-90deg));
  transform-origin: 50% 50%;
}
