<polymer-element name="ed-song-card-scrubber" attributes="min max value">
  <template>
    <link rel="stylesheet" href="./ed-song-card-scrubber.css">
    <div class="responsive-wrapper">
      <div class="responsive-container">
        <p id="song-timer">{{_formattedValue}} / {{_formattedMax}}</p>
        <svg id="svg-circle" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
          <g>
            <circle id="back-circle" r="45%" cy="50%" cx="50%" stroke-width="1%" fill="none"/>
            <circle id="mid-circle" r="30%" cy="50%" cx="50%" stroke-width="30%" fill="none"/>
            <circle id="front-circle" r="45%" cy="50%" cx="50%" stroke-width="1%" fill="none"/>
            <circle id="shadow-scrubber" r="45%" cy="50%" cx="50%" stroke-width="7%" fill="none" />
            <circle id="circle-scrubber" r="45%" cy="50%" cx="50%" stroke-width="4%" fill="none" />
          </g>
        </svg>
        <!-- the below needs to be replaced with ed-icon once its fixed -->
        <button class="btn">||</button>
      </div>
    </div>
  </template>
  <script src="ed-song-card-scrubber.js"></script>
</polymer-element>
