@import "../../../styles/ed/colors.vars.less";
@import "../../../styles/mixins/prefixes/transforms.less";
@import "../../../styles/mixins/prefixes/user-select.less";
@import "../../../styles/fonts/edTypeStyles.less";

.responsive-wrapper {
  width: 100%;
  background: @darkPurple3;
  position: relative;
  padding-bottom: 75%;
  .responsive-container {
    width: 91%;
    margin: 0 auto;
    position: relative;
  }
}

:host([complete]){
  #fill-circle {
    fill: @black;
  }
}

#rate-request {
  color: @originalTeal;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 16%;
  z-index: 2;
  opacity: 0;
  .userSelect( none );
  .edType( heading-L );
  span {
    display: block;
    .edType( heading-S );
  }
}

#svg-circle {
  z-index: 1;
  position: relative;
}

#song-timer {
  .edType( heading-S );
  color: @white;
  opacity: 0.5;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8%;
  .userSelect( none );
}

#back-circle {
  stroke: @originalPurple;
}

#front-circle {
  stroke: @originalTeal;
}
#mid-circle {
  stroke: @originalTeal;
  opacity: .25;
}

#shadow-scrubber {
  stroke: @black;
  opacity: .4;
}

#circle-scrubber {
  stroke: @white;
}

#circle-scrubber, #shadow-scrubber {
  stroke-dasharray: .5, 290%;
  stroke-linecap: round;
}

#mid-circle, #front-circle, #circle-scrubber, #shadow-scrubber {
  .transform( rotate(-90deg));
  .transformOrigin(50% 50%);
}

.play-btn {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  background: transparent;
  width: 29%;
  height: 27vw;
  border-radius: 50%;
  border: none;
}

.skip-btn {
  right: 0;
  bottom: 0;
  position: absolute;
  background: transparent;
  width: 19%;
  height: 13vw;
  border: none;
  span {
    text-transform: uppercase;
    .edType(heading-XS);
    color: @originalTeal;
  }
}
