<polymer-element name="ed-song-card-scrubber" attributes="min max">
  <template>
    <link rel="stylesheet" href="./ed-song-card-scrubber.css">
    <span id="val-box"></span>
    <svg width="260" height="260" xmlns="http://www.w3.org/2000/svg">
      <g>
        <circle id="back-circle" r="47%" cy="50%" cx="50%" stroke-width="3%" fill="none"/>
        <circle id="mid-circle" r="30.5%" cy="50%" cx="50%" stroke-width="30%" fill="none"/>
        <circle id="front-circle" r="47%" cy="50%" cx="50%" stroke-width="3%" fill="none"/>
      </g>
    </svg>
  </template>
  <script src="ed-song-card-scrubber.js"></script>
</polymer-element>
