
@font-face {
  font-family: "Flaticon";
  src: url("../../assets/fonts/icons/flaticon.eot");
  src: url("../../assets/fonts/icons/flaticon.eot#iefix") format("embedded-opentype"),
       url("../../assets/fonts/icons/flaticon.woff") format("woff"),
       url("../../assets/fonts/icons/flaticon.ttf") format("truetype"),
       url("../../assets/fonts/icons/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
