@font-face {
  font-family: "Ubuntu";
  src: url("../../assets/fonts/ubuntu/ubuntu-bold.woff") format('woff'), url("../../assets/fonts/ubuntu/ubuntu-bold.ttf") format('truetype');
}

@font-face {
  font-family: "Ubuntu-BoldItalic";
  src: url("../../assets/fonts/ubuntu/ubuntu-bold-italic.woff") format('woff'), url("../../assets/fonts/ubuntu/ubuntu-bold-italic.ttf") format('truetype');
}

@font-face {
  font-family: "Ubuntu-Italic";
  src: url("../../assets/fonts/ubuntu/ubuntu-italic.woff") format('woff'), url("../../assets/fonts/ubuntu/ubuntu-italic.ttf") format('truetype');
}

@font-face {
  font-family: "Ubuntu-Light";
  src: url("../../assets/fonts/ubuntu/ubuntu-light.woff") format('woff'), url("../../assets/fonts/ubuntu/ubuntu-light.ttf") format('truetype');
}

@font-face {
  font-family: "Ubuntu-LightItalic";
  src: url("../../assets/fonts/ubuntu/ubuntu-light-italic.woff") format('woff'), url("../../assets/fonts/ubuntu/ubuntu-light-italic.ttf") format('truetype');
}

@font-face {
  font-family: "Ubuntu-Medium";
  src: url("../../assets/fonts/ubuntu/ubuntu-medium.woff") format('woff'), url("../../assets/fonts/ubuntu/ubuntu-medium.ttf") format('truetype');
}

@font-face {
  font-family: "Ubuntu-MediumItalic";
  src: url("../../assets/fonts/ubuntu/ubuntu-medium-italic.woff") format('woff'), url("../../assets/fonts/ubuntu/ubuntu-medium-italic.ttf") format('truetype');
}

@font-face {
  font-family: "Ubuntu-Regular";
  src: url("../../assets/fonts/ubuntu/ubuntu-regular.woff") format('woff'), url("../../assets/fonts/ubuntu/ubuntu-regular.ttf") format('truetype');
}
