@font-face {
  font-family: "Ubuntu-Bold";
  src: url( "../../assets/fonts/Ubuntu/Ubuntu-Bold.ttf" ) format( "truetype" );
}

@font-face {
  font-family: "Ubuntu-BoldItalic";
  src: url( "../../assets/fonts/Ubuntu/Ubuntu-BoldItalic.ttf" ) format( "truetype" );
}

@font-face {
  font-family: "Ubuntu-Italic";
  src: url( "../../assets/fonts/Ubuntu/Ubuntu-Italic.ttf" ) format( "truetype" );
}

@font-face {
  font-family: "Ubuntu-Light";
  src: url( "../../assets/fonts/Ubuntu/Ubuntu-Light.ttf" ) format( "truetype" );
}

@font-face {
  font-family: "Ubuntu-LightItalic";
  src: url( "../../assets/fonts/Ubuntu/Ubuntu-LightItalic.ttf" ) format( "truetype" );
}

@font-face {
  font-family: "Ubuntu-Medium";
  src: url( "../../assets/fonts/Ubuntu/Ubuntu-Medium.ttf" ) format( "truetype" );
}

@font-face {
  font-family: "Ubuntu-MediumItalic";
  src: url( "../../assets/fonts/Ubuntu/Ubuntu-MediumItalic.ttf" ) format( "truetype" );
}

@font-face {
  font-family: "Ubuntu-Regular";
  src: url( "../../assets/fonts/Ubuntu/Ubuntu-Regular.ttf" ) format( "truetype" );
}
