language: node_js
node_js:
- 0.12
- iojs
before_install:
- rm -rf ./node_modules
- mkdir ./logs
- mkdir ./logs/gulp
- export CHROME_BIN=chromium-browser
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
install:
- npm install
before_script:
- npm run jscs ; npm run lint ; echo "all good"
after_script:
- npm install -g codeclimate-test-reporter coveralls
- sed -i -e "s/SF:.\//SF:build\/www\//g" ./build/coverage/chromium/lcov.info
- cat ./build/coverage/chromium/lcov.info | codeclimate
- cat ./build/coverage/chromium/lcov.info | coveralls
- npm install -g david && david
notifications:
  hipchat:
    rooms:
      secure: erA1QeIaIrBbvTs+lUIDN71yoOEMTtgRgOfzBPVEeOkqjlZquIac3knqt711V8+mir35mDW97/dbbMUE1J+AGjsINaa8zxCRACbzLn+jPYHNah4mHGxN1iIZPgFMWvhaorEEi+DqIlIMlG0RfpODPeARlRUoKPXPyarMhRynT4Y=
addons:
  code_climate:
    repo_token:
      secure: eZn+3f1S28T+gTBo8dqPrOshxWYMc7hR+n+9y+WUGnnBWEIFbVMVIneIcdZdFlKQCVxXyPH+vXRL6x82dnU4THLPUEA3EMPALuSZlcvYa2z01jbMgLccsE1GXACyybCUeGlVepJeiPExl7/4bK8+kzoG85/MyXe/oaJgBTlTJpw=
