@charset "UTF-8";

@import "mixins/hidden.less";
@import "fonts/edTypeStyles.less";
@import "mixins/breakpoints/mixins.less";
@import "ed/buttons.mixin.less";
@import "ed/colors.vars.less";
@import "ed/backgrounds.mixin.less";
@import "mixins/prefixes/transforms.less";
@import "mixins/prefixes/animations.less";
@import "mixins/prefixes/user-select";


html {
  font-size: 62.5%;
  background: @darkPurple3;
  height: 100vh;
  width: 100vw;
}

body {
  .userSelect(none);
  background-color: @darkPurple3;
  .edType( paragrpah-M );
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  &[unresolved] {
    display: block;
    opacity: 1;
  }
  & > .left {
    float: left;
    clear: both;
    width: 100%;
    margin: 20px 0 0;
  }
}

#splash-screen {
  position: absolute;
  .mainPicturedBackground( "../" );
  background-color: @originalPurple;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  opacity: 0;
  z-index: 5;
  transition: opacity ease-in 0.2s;
  svg {
    width: 94%;
    padding: 0 3%;
    fill: @originalWhite;
    opacity: 0;
    transition: inherit;
  }
  body[unresolved] & {
    display: block;
    opacity: 1;
    svg {
      opacity: 1;
    }
  }
}

ed-side-menu {
  position: absolute;
  height: 98%;
  width: 84%;
  margin: 0;
  padding-top: 2%;
  background-color: @originalWhite;
  -webkit-transition: -webkit-transform .33s ease-in-out;
  transition: transform .33s ease-in-out;
  .transform( translateX( -100% ));
  &.show-menu {
    .transform( translateX( 0% ));
    & + .router-animation-wrapper {
      .transform( translateX( 84% ));
    }
  }
  & + .router-animation-wrapper {
    .transform( translateX( 0 ));
  }
}

#animation-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-transition: -webkit-transform .33s ease-in-out;
  transition: transform .33s ease-in-out;
  &.player-padding {
    height: 92vh;
    padding-bottom: 8vh;
  }
}

.hidden();
