
@import "reset.less";
@import "test.mixin.less";
@import "fonts/icons.less";

@color: white;

body{
  background-color: @color;
  .cool(cyan);
  & > .left {
    float: left;
    clear: both;
    width: 100%;
    margin: 20px 0 0;
  }
}

.hidden();

/**
 * LESS for testing horizontal scrollbox
 **/
scroll-box-horizontal img {
  border: 2px solid black;
  float: left;
  clear: none;
}
/**
 * ENDS LESS for testing horizontal scrollbox
 **/

/* <checkbox-select> */
checkbox-select {
  background: url("http://www.psoriasispatients.com/images/icons/qa_rating_star1.png") no-repeat;
}
/* END <checkbox-select> */

/**
 * LESS for testing file-drop
 **/
.parent{
  height: 300px;
  width: 300px;
  border: 1px solid red;
}
/**
 * ENDS LESS for testing file-drop
 **/
