@charset "UTF-8";

@import "reset.less";
@import "test.mixin.less";
@import "mixins/hidden.less";
@import "fonts/icons.less";
@import "fonts/ubuntu.less";
@import "mixins/breakpoints/mixins.less";
@import "ed/colors.vars.less";

@color: white;

html {
  font-size: 62.5%;
  font-family: "Ubuntu-Regular";
  height: 100%;
  width: 100%;
  background: @darkPurple3;
}

body {
  background-color: @color;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  .cool(cyan);
  & > .left {
    float: left;
    clear: both;
    width: 100%;
    margin: 20px 0 0;
  }
}

.hidden();

/**
 * LESS for testing horizontal scrollbox
 **/
scroll-box-horizontal img {
  border: 2px solid black;
  float: left;
  clear: none;
}
/**
 * ENDS LESS for testing horizontal scrollbox
 **/

/* <checkbox-select> */
checkbox-select {
  background: url("http://www.psoriasispatients.com/images/icons/qa_rating_star1.png") no-repeat;
}
/* END <checkbox-select> */

/**
 * LESS for testing file-drop
 **/
.parent{
  height: 300px;
  width: 300px;
  border: 1px solid red;
}
/**
 * ENDS LESS for testing file-drop
 **/

