

@import "test.mixin.less";

@color: white;

*{
 // box-sizing: border-box;
}

body{
  background-color: @color;
  .cool(cyan);
  & > .left {
    float: left;
    clear: both;
    width: 100%;
    margin: 20px 0 0;
  }
}

