

@import "test.mixin.less";

@color: white;

*{
 // box-sizing: border-box;
}

body{
  background-color: @color;
  .cool(cyan);
}

// Styling Scroll-Horizontal
scroll-box-horizontal img {
  border: 2px solid black;
  float: left;
  clear: none;

}


