@import "../styles/ed/buttons.mixin.less";
@import "../styles/ed/colors.vars.less";

* {
  font-family: "Ubuntu-Regular";
}

.registration-container {
  background: linear-gradient(to bottom, rgba(32, 20, 44, 0) , rgba(32, 20, 44, 1)), url("../../assets/background-images/login_image__1080x1920.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.ed-registration-body {
  margin-top: 30rem;
  text-align: center;
  fieldset {
    border: 0;
  }
  ed-icon-input {
    margin: .5rem;
    text-align: center;
  }
  .password-req-text {
    color: @originalTeal;
    font-size: 2.7rem;
  }
}

#registration-submit {
  .edButton();
}
#sign-up-button {
  .edButton( double-line );
  span {
    display: block;
  }
}

#registration-forgot-password {
  text-decoration: none;
  font-size: 2.7rem;
  color: #FFFFFF;
  opacity: .5;
  text-align: center;
  display: block;
  margin: 3rem 0 3rem 0;
}
