<polymer-element name="paired-input" attributes="type placeholder pattern valid confirm">

    <template>
        <input id="primaryBox" type="{{type}}" pattern="{{pattern}}" placeholder="{{placeholder}}" />
        <input id="confirmBox" type="{{type}}" placeholder="confirm {{placeholder}}" />
    </template>
    <script>
        Polymer("paired-input", {
            attached: function () {
                this.primaryBox = this.shadowRoot.querySelector("#primaryBox");
                this.confirmBox = this.shadowRoot.querySelector("#confirmBox");
                this.addEventListener('blur', this.blurConfirm);
            },
            blurConfirm: function () {
                if (this.isValid) {
                    alert("Passwords match!");
                } else {
                    alert("Please try again");
                }
            },
            get isValid () {
                console.log(this.primaryBox.value.match());
                return /*this.primaryBox.value.match() && */this.confirmBox.value === this.primaryBox.value;
            }
        });
    </script>

</polymer-element>
