@import "../../styles/ed/buttons.mixin.less";
@import "../../styles/ed/colors.vars.less";
@import "../../styles/ed/title-bar.mixin.less";
@import "../../styles/ed/list-style.mixin.less";

// TODO use Sylvia's mixins once her branch gets merged for title bar and list styles

* {
  font-family: "Ubuntu";
}
.settings-wrapper {
  width: 100%;
  background-color: @darkPurple3;
  height: 100%;
  margin: 0 auto;
  max-width: 59.6rem;
  overflow: hidden;
  position: relative;
  .settings-title-bar {
    .edTitleBar();
  }
  .settings-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      .edButtonTertiary();
    }
  }
}


