<link rel="import" href="../../components/ed/ed-icon/ed-icon.html"/>
<link rel="import" href="../../components/ed/ed-menu-button/ed-menu-button.html"/>

<polymer-element name="ed-settings-view" attributes="">
  <template>
    <link rel="stylesheet" href="./ed-settings-view.css">
    <div class="settings-wrapper">
      <div class="settings-title-bar">
        <ed-menu-button></ed-menu-button>
        <h1 id="settings-title">Settings</h1>
      </div>
      <ul class="settings-list">
        <li class="version-title"> Version: <span>1.2.0.2385</span></li>
        <li id="Terms-button"><a target="_blank" href="http://www.eardish.com/terms">Terms &amp; Conditions</a></li>
        <li id="About-button"><a target="_blank" href="http://www.eardish.com/privacy">Privacy Policy</a></li>
        <li id="log-out-button">Log Out</li>
      </ul>
    </div>
  </template>
  <script src="ed-settings-view.js"></script>
</polymer-element>
