<link rel="import" href="../../components/ed/ed-icon/ed-icon.html"/>

<polymer-element name="ed-settings-view" attributes="">
  <template>
    <link rel="stylesheet" href="./ed-settings-view.css">
    <div class="settings-wrapper">
      <div class="title-bar">
        <button>
          <ed-icon name="burger"></ed-icon>
        </button>
        <p>Settings</p>
      </div>
      <ul class="settings-list list-style hidden">
        <li id="log-out-button">Log Out</li>
        <li id="About-button">About</li>
        <li id="Terms-button">Terms & Conditions</li>
        <li id="report-button">Report a Bug</li>
      </ul>
    </div>
  </template>
  <script src="ed-settings-view.js"></script>
</polymer-element>
