<link rel="import" href="../../components/ed/ed-icon/ed-icon.html"/>
<link rel="import" href="../../components/ed/ed-menu-button/ed-menu-button.html"/>

<polymer-element name="ed-settings-view" attributes="">
  <template>
    <link rel="stylesheet" href="./ed-settings-view.css">
    <div class="settings-wrapper">
      <div class="settings-title-bar">
        <ed-menu-button></ed-menu-button>
        <h1 id="settings-title">Settings</h1>
      </div>
      <ul class="settings-list">
        <li class="version-title"> Version: <span>0.2.0</span></li>
        <li id="Terms-button" on-tap="{{redirectInAppHandler}}">Terms &amp; Conditions</li>
        <li id="About-button" on-tap="{{redirectInAppHandler}}">Privacy Policy</li>
        <li id="Support-button" on-tap="{{redirectInAppHandler}}">Support</li>
        <li id="log-out-button" on-tap="{{logOutTriggerHandler}}">Log Out</li>
      </ul>
    </div>
  </template>
  <script src="ed-settings-view.js"></script>
</polymer-element>
