<link rel="import" href="../../../components/ed/ed-icon/ed-icon.html"/>
<link rel="import" href="../../../components/ui/img-placeholder/img-placeholder.html"/>

<polymer-element name="ed-single-chart" attributes="ed-id chart-title chart-subtitle chart-badge">
  <template>
    <link rel="stylesheet" href="./ed-single-chart.css">
    <div class="chart-wrapper">
      <div class="chart-header">
        <header>
          <ed-icon id="arrow-left" class="chart-arrows" name="arrow-back"></ed-icon>
          <ed-icon id="arrow-right" class="chart-arrows" name="arrow-back"></ed-icon>
          <h1 class="chart-title-text">{{chartTitle}}</h1>
          <p class="chart-subtitle-text">{{chartSubtitle}}</p>
        </header>
      </div>

      <div class="ranks-badge-wrapper">
        <div class="badges">
          <ed-icon id="badge-hrs" name="{{chartBadge}}"></ed-icon>
          <p class="time-left">Time Left</p>

          <h2 class="countdown-timer">03d 10h 15m</h2>
        </div>

        <ul id="ranks-list" class="options">
          <template repeat="{{opt in _options}}">
            <li>
              <p class="chart-rank">{{opt.rank}}</p>

              <div class="img-container">
                <img-placeholder src="{{ opt.image }}" image="fillmurray"></img-placeholder>
              </div>
              <p class="chart-points">{{opt.points}}</p>

              <p class="chart-name">{{opt.name}}</p>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </template>
  <script src="./ed-single-chart.js"></script>
</polymer-element>
