@import "../../../styles/mixins/hidden.less";
@import "../../../styles/ed/buttons.mixin.less";
@import "../../../styles/ed/colors.vars.less";
@import "../../../styles/ed/backgrounds.mixin.less";
@import "../../../styles/fonts/edTypeStyles.less";
@import "../../../styles/ed/title-bar.mixin.less";
@import "../../../styles/ed/ellipsis-overflow.mixin.less";
@import "../../../styles/ed/chart-name.mixin.less";

.hidden();

.single-wrapper {
  background-color: @originalPurple;
  height: 100%;
  margin: 0 auto;
  max-width: 59.6rem;
  overflow-x: hidden;
  width: 100%;
  display: flex;

  .single-header {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 2;
    .chart-title-text {
      //todo where is the font style for this text?
      .edType( heading-L );
      // todo where is the margin coming from?
      margin: 0;
      white-space: pre;
      font-style: italic;
      font-weight: 500;
    }
    .chart-subtitle-text {
      //todo where is the margin coming from?
      margin: 0;
      white-space: pre;
      // todo where is the font size for this?
      .edType( paragraph-S );
      line-height: 65%;
      padding-top: .4rem;
    }
    .chart-arrows {
      position: absolute;
      width: 20%;
      height: 5rem;
      z-index: 2;
      &::shadow {
        svg {
          position: static;
          top: 0;
          // todo mixin?
          -webkit-transform: translateY(0%);
          -ms-transform: translateY(0%);
          transform: translateY(0%);
          fill: @originalWhite;
        }
      }
    }
    // todo why is there separate styles for the header?
    header {
      background: @lightPurple1;
      color: @originalWhite;
      .edType( heading-s );
      padding: 1rem 0 1.5rem;
      font-style: italic;
      position: relative;
    }
  }

  #arrow-left {
    left: 0;
  }

  #arrow-right {
    right: 0;
  }

  .ranks-badge-wrapper {
    //position: absolute;
    //top: 7rem;
    width: 100%;

    display:flex;
    flex-direction: column;
    height: 100%;

    padding-top: 8rem;
  }

  .badges {
    color: @originalTeal;
    text-align: center;

    //position: fixed;
    //right: 0;
    //left: 0;
    //height: 30%;
    //top: 8rem;
    background-color: @originalPurple;

    //padding-top: 8rem;

    .time-left {
      white-space: pre;
      .edType( heading-XXS );
      text-transform: uppercase;
      margin: 0;
    }

    .countdown-timer {
      white-space: pre;
      .edType( paragraph-M );
      // todo where is the default margin coming from?
      margin: 0 0 2rem 0;
      font-weight: 500;
    }
  }

  #badge-hrs {
    &::shadow {
      svg {
        width: 18rem;
        height: 18rem;
        position: static;
        top: 0;
        -webkit-transform: translateY( 0% );
        -ms-transform: translateY( 0% );
        transform: translateY( 0% );
      }
    }
  }

  .default-view {
    .edType( heading-XS );
    color: @lightGrey1;
    background: @darkPurple3;

    flex: 1;
    width: 100%;
    //position: fixed;
    //height: 100%;
    //top: 32rem;

    .default-copy {

    }
  }

  .rankings {
    flex: 1;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    //position: absolute;
    //top: 25rem;
    li {
      overflow: auto;
      height: 5.5rem;
      width: 100%;
      background: @darkPurple3;
      color: @originalWhite;
      border-bottom: .1rem solid @originalGrey;
      .edType( heading-XS );
      .img-container {
        width: 3.5rem;
        padding: 1rem 0 0 3rem;
        float: left;
      }
      .chart-rank {
        float: left;
        margin: 0;
        padding: 1.5rem 0 0 1.5rem;
      }
      .fan-name {
        .edEllipsisOverflow();
        .edChartName();
        padding-top: 1.5rem;
        height: 2.5rem;
      }
      .track-name{
        .edEllipsisOverflow();
        .edChartName();
        // todo did not use any of the font mixins
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 100%;
        padding-top: 1rem;
      }
      .artist-name {
        .edEllipsisOverflow();
        .edChartName();
        // todo did not use any of the font mixins
        font-size: 1.3rem;
        font-weight: 500;
        padding-top: 0;
      }
      .chart-points {
        float: right;
        margin: 0;
        padding: 1.5rem 3rem 0 0;
      }
    }

    // todo need to figure out how to line up left AND right sides
    li:nth-child(-n+10) {
      padding-left: 1rem;
    }
  }
}
