@import "../../../styles/mixins/hidden.less";
@import "../../../styles/ed/buttons.mixin.less";
@import "../../../styles/ed/colors.vars.less";
@import "../../../styles/ed/backgrounds.mixin.less";
@import "../../../styles/fonts/edTypeStyles.less";
@import "../../../styles/ed/title-bar.mixin.less";
@import "../../../styles/ed/ellipsis-overflow.mixin.less";
@import "../../../styles/ed/chart-name.mixin.less";

.hidden();

.single-wrapper {
  background-color: @originalPurple;
  height: 100%;
  margin: 0 auto;
  max-width: 59.6rem;
  overflow-x: hidden;
  width: 100%;
  display: flex;

  .single-header {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 2;
    .chart-title-text {
      .edType( heading-L );
      margin: 0;
      white-space: pre;
      font-style: italic;
    }
    .chart-subtitle-text {
      margin: 0;
      white-space: pre;
      .edType( skinnysly-XS );
      line-height: 65%;
      padding-top: .4rem;
    }
    .direction-divs {
      position: absolute;
      width: 20%;
      height: 5rem;
    }
    header {
      background: @lightPurple1;
      color: @originalWhite;
      .edType( heading-s );
      padding: 1rem 0 1.5rem;
      font-style: italic;
      position: relative;
    }
  }

  #move-left {
    left: 0;
  }

  #move-right {
    right: 0;
  }

  .ranks-badge-wrapper {
    width: 100%;
    height: 100%;
    padding-top: 7rem;
    background: @darkPurple3;
  }

  .badges {
    color: @originalTeal;
    text-align: center;
    background-color: @originalPurple;
    padding: 2rem 0;
    .time-left {
      white-space: pre;
      .edType( heading-XXS );
      text-transform: uppercase;
      margin: 0;
    }

    .countdown-timer {
      white-space: pre;
      .edType( paragraph-M );
      margin: 0 0 2rem 0;
      font-weight: 500;
    }
  }

  #badge-hrs {
    &::shadow {
      svg {
        width: 18rem;
        height: 18rem;
        position: static;
        top: 0;
        .transform( translateY( 0% ) );
      }
    }
  }

  .default-view {
    .edType( heading-XS );
    color: @lightGrey1;
    flex: 1;
    width: 100%;
    .copy {
      width: 90vw;
      margin: 0 auto;
      padding-top: 10vh;
      text-align: center;
    }
  }

  .rankings {
    flex: 1;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0 0 10rem;
    background: @darkPurple3;
    li {
      overflow: auto;
      height: 5.5rem;
      width: 100%;
      color: @originalWhite;
      border-bottom: .1rem solid @originalGrey;
      .edType( heading-XS );
      .img-container {
        width: 3.5rem;
        padding: 1rem 0 0 3rem;
        float: left;
      }
      .chart-rank {
        float: left;
        margin: 0;
        padding: 1.5rem 0 0 1.5rem;
      }
      .fan-name {
        .edEllipsisOverflow();
        .edChartName();
        padding-top: 1.5rem;
        height: 2.5rem;
      }
      .track-name{
        .edEllipsisOverflow();
        .edChartName();
        // todo did not use any of the font mixins
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 100%;
        padding-top: 1rem;
      }
      .artist-name {
        .edEllipsisOverflow();
        .edChartName();
        // todo did not use any of the font mixins
        font-size: 1.3rem;
        font-weight: 500;
        padding-top: 0;
      }
      .chart-points {
        float: right;
        margin: 0;
        padding: 1.5rem 3rem 0 0;
      }
    }

    // todo need to figure out how to line up left AND right sides
    li:nth-child(-n+10) {
      padding-left: 1rem;
    }
  }
}
