@import "../../../styles/mixins/prefixes/placeholder.less";
@import "../../../styles/fonts/edTypeStyles.less";
@import "../../../styles/ed/colors.vars.less";

.container {
  padding: 0 .7rem;
  .wrapper {
    height: 10.9rem;
    width: 100%;
    max-width: 59.6rem;
    background-color: #150D1C;
    border-color: #100A16;
    margin: 0 auto;
    .align {
      margin-top: 3.3rem;
    }
    .inner-icon {
      padding: 1rem;
      pointer-events: none;
      left: 0rem;
      top: 3.3rem;
      float: left;
    }
    input {
      .edType( heading-L );
      .white( .75 );
      float: left;
      background: transparent;
      border: 0;
      outline: 0;
      .input-placeholder( { .white( .33 ) } );
    }
  }
}

:host([type="date"]){
  .wrapper {
    .arrow-box {
      margin: .6rem;
      float: right;
      height: 9.7rem;
      width: 9.7rem;
      background-color: #FFFFFF;
      pointer-events: none;
      opacity: .5;
    }
  }
}
