@import "../../../styles/mixins/prefixes/placeholder.less";
@import "../../../styles/fonts/edTypeStyles.less";
@import "../../../styles/ed/colors.vars.less";
@import "../../../styles/mixins/prefixes/transforms.less";


.form-input-container {
  height: 10vh;
  width: 98%;
  max-width: 59.6rem;
  background-color: @darkPurple3;
  margin: 0 auto;
  box-shadow: .4rem .4rem 0 0 fade(@darkPurple3, 75%) inset;
}
input {
  .edType( heading-L );
  .transform( translateY(-50%) );
  color: @originalWhite;
  float: left;
  background: transparent;
  border: 0;
  outline: 0;
  padding-left: 20%;
  .input-placeholder( { color: @originalGrey } );
}

ed-icon {
/* for svg height and width dimensions may both need to be declared and they work like regular CSS max-width or max-height
*/
  width: 3rem;
  height: 50%;
  fill: @originalGrey;
  pointer-events: none;
  float: left;
  padding: 0 2rem;
  .verticalAlign();
}

.form-input-container {
  &.invalid-field {
    background-color: @originalRed;
    border-color: @darkRed1;
  }
}

:host(.invalid) {
  .form-input-container {
    background-color: @originalRed;
    border-color: @darkRed1;
  }
}
