<polymer-element name="ed-icon-input" attributes="icon type placeholder">
  <template>
    <link rel="stylesheet" href="./ed-icon-input.css">

    <div class="container">
      <div class="wrapper">
        <ed-icon class="inner-icon align" name="{{icon}}"></ed-icon>
        <div class="arrow-box">
          <span class="arrow"></span>
        </div>
        <input class="from-input align" type="{{type}}" placeholder="{{placeholder}}" />
      </div>
    </div>
  </template>
  <script src="ed-form-input.js"></script>
</polymer-element>
