<polymer-element name="ed-star-rating" attributes="">
  <template>
    <link rel="stylesheet" href="./ed-star-rating.css">
    <form>
      <div class="rating">
        <input type='radio' name='rate' id='rating-opt5'>
        <label for='rating-opt5'></label>
        <input type='radio' name='rate' id='rating-opt4'>
        <label for='rating-opt4'></label>
        <input type='radio' name='rate' id='rating-opt3'>
        <label for='rating-opt3'></label>
        <input type='radio' name='rate' id='rating-opt2'>
        <label for='rating-opt2'></label>
        <input type='radio' name='rate' id='rating-opt1'>
        <label for='rating-opt1'></label>
      </div>
    </form>
  </template>
  <script src="ed-star-rating.js"></script>
</polymer-element>
