@import "../../../styles/ed/colors.vars.less";
@import "../../../styles/fonts/edTypeStyles.less";
@import "../../../styles/mixins/prefixes/transforms.less";

.rating {
  border: none;
  .input-field {
    border: 1px solid red;
    height: 13rem;
    input {
      border: 1px solid green;
      height: 13rem;
      width: 17%;
      margin: 0 0 0 1.5%;
    }
  }
  .star-field {
    border: 1px solid black;
    position: absolute;
    top: 10%;
  }
  .overlap-field {
    border: 1px solid blue;
  }
  ed-icon {
    width: 30%;
    padding: 0 0 0 6%;
    margin: 0 -19% 0 0;
    height: 13rem;
    border: 1px solid black;
  }
}

#disable-text {
  text-align: center;
  color: @white;
  opacity: .25;
  .edType( heading-XXS );
}

.track-title, .artist-name, .rate-song {
  text-align: center;
  color: @white;
}

.track-title {
  .edType( heading-L );
  margin-bottom: 0;
  margin-top: 1rem;
}
.artist-name {
  .edType( heading-XS );
  margin-top: 0;
}
.rate-song {
  .edType( heading-XXS );
  opacity: .33;
  margin-bottom: 0;
}
