@import "../../../styles/ed/colors.vars.less";
@import "../../../styles/mixins/prefixes/user-select.less";
@import "../../../styles/fonts/edTypeStyles.less";

#ad-banner {
  height: 9%;
  display: block;
  img {
    width: 100%;
  }
}

.player-container {
  padding-bottom: 12%;
  height: 0;
  background: @darkPurple3;
  display: block;
  width: 100%;
  overflow: hidden;
  img {
    display: inline;
    width: 11%;
    height: auto;
    float: left;
    margin: 0.5%;
  }
  .text-container {
    margin: 2%;
    display: inline;
    float: left;
    color: @white;
    #title {
      .edType( heading-M );
      margin-top: 3%;
      margin-bottom: 0;
    }
    #name {
      margin-top: 0;
      opacity: .25;
      .edType( heading-XS );
    }
  }
  .responsive-btn-wrapper {
    position: relative;
    width: 10%;
    float:right;
    margin: 1.5%;
    #play-btn {
      cursor: pointer;
      position: relative;
      display: inline-block;
      width: 100%;
      height: 0;
      padding: 50% 0;
      border-radius: 50%;
      background: @darkPurple2;
      border: none;
      ed-icon {
        fill: @white;
        width: 70%;
        .userSelect(none);
      }
      &:focus {
        outline: none;
      }
    }
  }
}
