<polymer-element name="ed-mini-player" attributes="image song artist">
  <template>
    <link rel="stylesheet" href="./ed-mini-player.css">
    <div id="ad-banner" >
      <!--placeholder img until ad service gets chosen -->
      <img src="https://lh6.ggpht.com/x6wxcwMSL3y7LiBXPOat8ptjMsYPLt-EEOU3Ic6XDlJJt6kUjZ9Qotgkul3mIyH3QNSYZsMl6g=w320-h50" >
    </div>
    <div class="player-container">
      <img src="{{image}}" />
      <div class="text-container">
        <h1 id="title"> {{song}} </h1>
        <h5 id="name"> {{artist}} </h5>
      </div>
      <button id="play-btn">
        <ed-icon id="play-icon" name="play"></ed-icon>
      </button>
    </div>
  </template>
  <script src="ed-mini-player.js"></script>
</polymer-element>
