<polymer-element name="ed-disliked-view" attributes="">
  <template>
    <link rel="stylesheet" href="./ed-disliked-view.css">
    <div class="genre-container">
      <div class="header" >
        <span>Tap 1 genre</span>
        <span>you don't want to hear</span>
      </div>
      <div class="ed-genre-bubbles">
        <ed-bubble-select>What</ed-bubble-select>
        <ed-bubble-select>the</ed-bubble-select>
        <ed-bubble-select>Monkey</ed-bubble-select>
      </div>
      <div class="alternate-bubbles">
        <ed-bubble-select>Balls</ed-bubble-select>
        <ed-bubble-select>What</ed-bubble-select>
        <ed-bubble-select>the</ed-bubble-select>
      </div>
      <button id="next-button" type="button" href="#">
        Next
      </button>
    </div>
  </template>
  <script src="ed-disliked-view.js"></script>
</polymer-element>
