<polymer-element name="flip-box" attributes="animation">
  <template>
    <link rel="stylesheet" href="./flip-box.css">
    <button class="flipbox-button">X</button>
    <div class="flipbox-container">
      <div class="box front">
        <content select=".front"></content>
      </div>

      <div class="box back">
        <!--<button class="flipbox-button">X</button>-->
        <content select=".back"></content>
      </div>
    </div>
  </template>
  <script src="./flip-box.js"></script>
</polymer-element>
