@import "mixins/prefixes/transforms.less";
@import "mixins/prefixes/backface-visibility.less";
@import "mixins/prefixes/animations.less";

:host {
  display: block;
  position: relative;
  height: 540px;
  width: 400px;
  margin: 0 auto;
  .perspective( 800px );
  ::content * {
    .backfaceVisibility( hidden );
  }
  .flipbox-button{
    position: absolute;
    top: 2%;
    display:none;
  }
  &([trigger="btn"]){
    .flipbox-button{
      display:block;
    }
  }
}

.flipbox-container {
  color: white;
  height: 540px;
  position: relative;
  .perspective( 800px );
  .transformStyle( preserve-3d );
}

.flipbox-transition {
  transition: transform 2s linear;
  // animation:transform 2s linear;
  .animation( transform 2s linear );
}

.box {
  width: 100%;
  height: 540px;
  position: absolute;
  top: 2%;
  background: black;
  .backfaceVisibility( hidden );
}

// toggle
:host([rotation="toggle"][animation="vertical"]){
  .back {
    .transform( rotateY(180deg) );
  }

  .flipbox-container {
    &.flip {
      .transform( rotateY(180deg) );
    }
  }
}

:host([rotation="toggle"][animation="horizontal"]) {
  .flipbox-container {
    .transformOrigin( center );
    &.flip {
      .transform( rotateX(180deg) );
    }
  }

  .back {
    .transform( rotateX(180deg) );
  }
}

// loop
:host([rotation="loop"][animation="vertical"]){
  .back {
    .transform( rotateY(180deg) );
  }
  .no-transform {
    .transform( none );
  }

  .flipbox-container{
    &.flip {
      .transform( rotateY(180deg) );
    }
    &.continue{
      .transform( rotateY(180deg) );
    }
  }
}

:host([rotation="loop"][animation="horizontal"]){
  .back {
    .transform( rotateX(180deg) );
  }
  .no-transform {
    .transform( none );
  }

  .flipbox-container{
    &.flip {
      .transform( rotateX(180deg) );
    }
    &.continue {
      .transform( rotateX(360deg) );
     }
  }

}
