:host {
  display: block;
  position: relative;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
  height: 540px;
  width: 400px;
  margin: 0 auto;
  ::content * {
  }
}

.flipbox-button {
  position: absolute;
  top: 2%;
  &.hidden {
    display: none;
  }
}

.flipbox-container {
  color: white;
  height: 540px;
  position: relative;
  perspective: 800px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.box {
  width: 100%;
  height: 540px;
  position: absolute;
  top: 2%;
  background: black;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

:host([rotation="toggle"]){
  .flipbox-container {
    -webkit-transition: transform 2s linear;
    -moz-transition: transform 2s linear;
    animation:transform 2s linear;
  }
}

:host([animation="vertical"][rotation="toggle"]){
  .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .flipbox-container.flip {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

:host([animation="horizontal"][rotation="toggle"]) {
  .flipbox-container {
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    transform-origin: center;
  }

  .front {
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    backface-visibility: visible;
  }

  .back {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }

  .flipbox-container.flip {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}

:host([rotation="loop"]){
  .front {
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    backface-visibility: visible;
  }

  .flipbox-container {
    -webkit-animation:loop 2s linear infinite;
    -moz-animation:loop 2s linear infinite;
    animation:loop 2s linear infinite;
    animation-direction: alternate;
  }
}
:host([animation="vertical"]){
  .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  @-moz-keyframes loop {
    100% { -moz-transform: rotateX(360deg); }
  }
  @-webkit-keyframes loop {
    100% { -webkit-transform: rotateX(360deg); }
  }
  @keyframes loop {
    100% { -webkit-transform: rotateX(360deg); transform:rotateX(360deg); }
  }
}

:host([animation="horizontal"]){
  @-moz-keyframes loop {
    100% { -moz-transform: rotateY(360deg); }
  }
  @-webkit-keyframes loop {
    100% { -webkit-transform: rotateY(360deg); }
  }
  @keyframes loop {
    100% { -webkit-transform: rotateY(360deg); transform:rotateY(360deg); }
  }
}

.flipbox-container.pause {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;
}
