:host {
  display: block;
  position: relative;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
  height: 540px;
  width: 400px;
  margin: 0 auto;
  ::content * {
  }
}

//.flipbox-button {
//  position: absolute;
//  top: 2%;
//  left: -33%;
//}

.flipbox-container {
  color: white;
  position: relative;
  perspective: 800px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  transition: transform 1s;
}
.box {
  width: 100%;
  height: 540px;
  position: absolute;
  top: 2%;
  background: black;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  z-index: 5;
}

.back {
  z-index: 10;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

:host([animation="vertical"]){
  .flipbox-container.flip {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

:host([animation="horizontal"]){
  .box {
    height: 360px;
    width: 400px;
  }

  .flipbox-container.flip {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
