<polymer-element name="flip-box" attributes="trigger animation">
  <template>
    <link rel="stylesheet" href="./flip-box.css">
    <div class="flipbox-container">
      <button class="flipbox-button">X</button>
      <div id="front" class="test">
        <div class="frontBox">
          <content select=".front"></content>
        </div>
      </div>

      <div id="back" class="test">
        <div class="backBox">
          <content select=".back"></content>
        </div>
      </div>
    </div>
  </template>
  <script src="./flip-box.js"></script>
</polymer-element>
