@import "../../styles/ed/title-bar.mixin.less";
@import "../../styles/ed/buttons.mixin.less";

.referral-title-bar {
  .edTitleBar();
}

#referral-submit {
  &:disabled {
    .edPrimaryButton( @backgroundColor: @darkPurple4; @activeColor: @darkPurple2 );
  }
  .edPrimaryButton();
  bottom: 0;
  margin: 3% auto 0 auto;
}

input {
  .edPrimaryButton();
  bottom: 0;
  margin: 3% auto 0 auto;
  text-align: center;
}
