<link rel="import" href="../../components/ed/ed-icon/ed-icon.html"/>
<link rel="import" href="../../components/ed/ed-menu-button/ed-menu-button.html"/>
<link rel="import" href="../../components/ed/ed-form-input/ed-form-input.html"/>

<polymer-element name="ed-referral-view" attributes="">
  <template>
    <link rel="stylesheet" href="./ed-referral-view.css">
    <div id="referral-wrapper">
      <div class="referral-title-bar">
        <ed-menu-button></ed-menu-button>
        <h1 id="referral-title">Invite Friends</h1>
      </div>
      <ed-icon class="friends-icon" name="invite-friends"></ed-icon>
      <p class="referral-text">
        {{ userService.data.firstName }}, you have {{ userService.referralsRemaining }}<br>invites left
      </p>
      <ed-form-input id="email-input" type="email" class="email" placeholder="Friend's Email"
                     icon="envelope"></ed-form-input>
      <button id="referral-submit">SEND INVITE</button>
    </div>
  </template>
  <script src="ed-referral-view.js"></script>
</polymer-element>
