<link rel="import" href="../../components/ed/ed-icon/ed-icon.html"/>
<link rel="import" href="../../components/ed/ed-hamburger-header/ed-hamburger-header.html"/>

<polymer-element name="ed-referral-view" attributes="">
  <template>
    <link rel="stylesheet" href="./ed-referral-view.css">
    <div id="referral-wrapper">
      <ed-hamburger-header header="Invite Friends"></ed-hamburger-header>
      <ed-icon class="friends-icon" name="invite-friends"></ed-icon>
      <p class="referral-text">
        {{ userService.currentProfile.raw.firstName }}, you have {{ userService.referralsRemaining }}<br>invites left
      </p>
      <ed-form-input id="email-input" type="email" class="email" placeholder="Friend's Email"
                     icon="envelope"></ed-form-input>
      <button id="referral-submit" class="invalid" disabled>SEND INVITE</button>
    </div>
  </template>
  <script src="ed-referral-view.js"></script>
</polymer-element>
