<link rel="import" href="../../components/ed/ed-icon/ed-icon.html"/>

<polymer-element name="ed-referral-view" attributes="ed-id">
  <template>
    <link rel="stylesheet" href="./ed-referral-view.css">
    <div class="referral-wrapper">
      <div class="referral-title-bar">
        <button>
          <ed-icon name="burger"></ed-icon>
        </button>
        <h1>invite friends</h1>
      </div>

      <ed-icon name="invite-friends"></ed-icon>

      <p>
        <!--todo change default?-->
        {{ edProfile.name.firstName || Emma }}, you have {{ referralsRemaining }} invites left
      </p>

      <ed-form-input type="email" class="email" placeholder="Your Friend's Email" icon="envelope"></ed-form-input>
      <button id="referral-submit" class="invalid">SEND INVITE</button>
    </div>
  </template>
  <script src="ed-referral-view.js"></script>
</polymer-element>
