.container {
  height: 20px;  /* Can be anything */
  position: relative;
  background: #555;
  border-radius: 25px;
  padding: 10px;
  box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
  & span {
    display: block;
    height: 100%;
    border-radius: 20px 8px 8px 20px;
    background-color: rgb(194, 51, 31);
    position: relative;
    overflow: hidden;
    text-align: center;
    float: left;
  }
}

.progress-display::before {
  content:attr(data-progress-bar-val);
}
.current-text::before {
  float: left;
  content:attr(data-progress-value);
}

.max-text::before {
  float: right;
  content:attr(data-progress-max);
}

/* Flips Bar */

#flipBar {
  float: right;
  transform:rotate(180deg);
  -ms-transform:rotate(180deg); /* IE 9 */
  -moz-transform:rotate(180deg); /* Firefox */
  -webkit-transform:rotate(180deg); /* Safari and Chrome */
  -o-transform:rotate(180deg); /* Opera */
}
#flipTextRight {
  float: right;
}
#flipTextLeft {
  float: left;
}

/* Spinning Bar Animation */

.addBarAnimation {
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  background-image:
  linear-gradient(
      -45deg,
      rgba(255, 255, 255, .2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, .2) 50%,
      rgba(255, 255, 255, .2) 75%,
      transparent 75%,
      transparent
  );
  background-size: 50px 50px;
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 1;
  border-radius: 20px 8px 8px 20px;
  overflow: hidden;
}

@-webkit-keyframes spin {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes spin {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
@keyframes spin {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

/* Pulsing Animation */

.addPulseAnimation {
  animation: pulse 2s ease-out infinite;
  -webkit-animation: pulse 2s ease-out infinite;
  -moz-animation: pulse 2s ease-out infinite;
  background-image: linear-gradient(135deg, red, #ffc6d0);
  background-size: 1000px 2000px;
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 1;
  border-radius: 20px 8px 8px 20px;
  overflow: hidden;
 }

@-webkit-keyframes pulse {

  100% {
    background-position: 0% center, left center, right center;
  }

  0% {
    background-position: 150% center, left center, right center;
  }

}

@-moz-keyframes pulse {

  100% {
    background-position: 0% center, left center, right center;
  }

  0% {
    background-position: 150% center, left center, right center;
  }

}
@keyframes pulse {

  100% {
    background-position: 0% center, left center, right center;
  }

  0% {
    background-position: 150% center, left center, right center;
  }

}

