<polymer-element name="progress-bar" attributes="value max animation direction show-value">
  <template>
    <link rel="stylesheet" href="./progress-bar.css">

    <div class="container">
      <span class="inner-bar"></span>
      <div class="progress-display" data-pbVal="{{_pbVal}}" style="">%</div>
    </div>
    <div class="current-text" data-progress-value="{{_progressValue}}"></div>
    <div class="max-text" data-progress-max="{{_progressMax}}"></div>

  </template>
  <script src="./progress-bar.js"></script>
</polymer-element>
