@import "../../../styles/ed/buttons.mixin.less";
@import "../../../styles/ed/colors.vars.less";
@import "../../../styles/ed/backgrounds.mixin.less";

* {
  font-family: "Ubuntu-Regular";
}
.ed-logo-header {
  .logoFormHeader();
}

.login-container {
  .mainPicturedBackground();
  height: 100%;
}

.ed-login-body {
  margin-bottom: 13rem;
  fieldset {
    border: 0;
  }
  ed-form-input {
    margin: .5rem;
    text-align: center;
  }
}

#login-submit {
  .edButton();
  position: absolute;
  bottom: 13rem;
}
#sign-up-button {
  .edButton( double-line );
  position: absolute;
  bottom: 0;
  span {
    display: block;
  }
}

#login-forgot-password {
  text-decoration: none;
  font-size: 2.7rem;
  color: #FFFFFF;
  opacity: .5;
  text-align: center;
  display: block;
  margin: 3rem 0 3rem 0;
}
