<link rel="import" href="../../../components/ed/ed-icon/ed-icon.html"/>
<link rel="import" href="../../../components/ed/ed-form-input/ed-form-input.html"/>

<polymer-element name="ed-login-view" attributes="">
  <app-route path="/profile/"+>
  <template>
    <link rel="stylesheet" href="./ed-login-view.css">
    <div class="login-container">
      <div class="ed-logo-header">
        <ed-icon name="eardish-logo-with-slogan"></ed-icon>
      </div>
      <div class="ed-login-body">
        <form id="login-form" method="post" role="form" action="#">
          <fieldset>
            <ed-form-input type="email" class="email" placeholder="Your Email" icon="envelope"></ed-form-input>
            <ed-form-input type="password" class="password" placeholder="Password" icon="password"></ed-form-input>
          </fieldset>
          <a id="login-forgot-password" href="#">Forgot Password?</a>
          <button id="login-submit" type="submit">Login</button>
        </form>
        <button id="sign-up-button" type="button" href="#">
          <span class="small-text">Don't have an account?</span>
          <br />Sign Up Here
        </button>
      </div>
    </div>
  </template>
  <script src="ed-login-view.js"></script>
</polymer-element>
