<link rel="import" href="../../../components/ed/ed-icon/ed-icon.html"/>
<link rel="import" href="../../../components/ed/ed-form-input/ed-form-input.html"/>

<polymer-element name="ed-login-view" attributes="">
  <template>
    <link rel="stylesheet" href="./ed-login-view.css">
    <div class="login-container">
      <div class="ed-logo-header">
        <ed-icon name="eardish-logo-with-slogan"></ed-icon>
        <div id="errorDiv"></div>
      </div>
      <div class="ed-login-body">
        <ed-form-input type="email" class="email" placeholder="Your Email" icon="envelope"></ed-form-input>

        <ed-form-input type="password" class="password" placeholder="Password" icon="password"></ed-form-input>

        <a id="login-forgot-password" href="#/forgot-pass/request">Forgot Password?</a>
        <button id="login-submit" type="submit">Login</button>

        <button id="sign-up-button" type="button">
          <span class="small-text">Don't have an account?</span>
          <br />Sign Up Here
        </button>
      </div>
    </div>
  </template>
  <script src="ed-login-view.js"></script>
</polymer-element>
