
.hidden(display) {
  &.hidden, &.hide, &[hidden] {
    display: none;
  }
}
.hidden(visibility) {
  &.hidden, &.hide, &[hidden] {
    visibility: hidden;
  }
}
.hidden(opacity) {
  &.hidden, &.hide, &[hidden] {
    opacity: 0;
  }
}
.hidden() {
  &.hidden, &.hide, &[hidden] {
    display: none;
    visibility: hidden;
  }
}
