@import "../../../styles/fonts/edTypeStyles.less";
@import "../../../styles/ed/colors.vars.less";
.user-rank {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  color: @lightGrey1;
  .rank-text {
    opacity: .5;
    float: left;
    padding: .4rem .6rem;
    .edType( heading-XXS );
    letter-spacing: -.1rem;
    line-height: 100%;
    text-align: right;
    span {
      display: block;
    }
  }
  .rank-box {
    opacity: .5;
    float: right;
    padding: 0 .9rem;
    border: .2rem solid @originalPurple;
    .edType( paragraph-S );
    line-height: 135%;
    letter-spacing: -.15rem;
  }
}
:host([teal]) {
  .rank-box {
    border: 0.2rem solid @originalTeal;
  }
}
