@import "../../../styles/fonts/edTypeStyles.less";
@import "../../../styles/ed/colors.vars.less";
.user-rank {
  float: right;
  margin: 4% 3%;
  text-transform: uppercase;
  .rank-text {
    color: @grey2;
    opacity: 0.5;
    float: left;
    padding: 0.5rem 0.6rem;
    .edType( heading-XXS );
    line-height: 100%;
    span {
      display: block;
    }
  }
  .rank-box {
    color: @grey2;
    opacity: 0.5;
    float: right;
    padding: 0rem 0.9rem;
    border: 0.2rem solid @originalPurple;
    .edType( heading-M );
    line-height: 135%;
  }
}
:host([teal]) {
  .rank-box {
    border: 0.2rem solid @originalTeal;
  }
}
