@import "../../../styles/ed/buttons.mixin.less";
@import "../../../styles/ed/colors.vars.less";
@import "../../../styles/ed/backgrounds.mixin.less";
@import "../../../styles/fonts/edTypeStyles.less";

* {
  font-family: "Ubuntu";
}

.ed-logo-header {
  .logoFormHeader();
}

.forgot-container {
  .mainPicturedBackground();
}

.forgot-text {
  text-align: center;
  .edType( sylvia-S );
  color: @lightGrey1;
  margin-bottom: 4%;
}

.ed-forgot-body {
  .error-messages {
    text-align: center;
    .edType( heading-S );
    color: @originalTeal;
  }
  .password-req-text {
    text-align: center;
    color: @originalTeal;
    .edType( sylvia-XS );
    margin: 1rem 0 .9rem 0;
  }
}

#forgot-submit {
  .edPrimaryButton();
}

.hidden {
  display: none;
}
