
@import "mixins/breakpoints/mixins.less";

div {
  display: none;
  padding: 2em;
//  min-width: 5em;
//  min-height: 5em;
//  line-height: 5em;
  float: left;
  clear: none;
  color: white;
}

#phone {
  .phone({
    & {
      display: block;
      background-color: red;
    }
  });
}

#portrait {
  .portrait({
    & {
      display: block;
      background-color: blue;
    }
  });
}

#landscape {
  .landscape({
    & {
      display: block;
      background-color: orange;
    }
  });
}

#desktop {
  .desktop({
    & {
      display: block;
      background-color: green;
    }
  });
}
