<link rel="import" href="../../../components/ed/ed-bubble-select/ed-bubble-select.html"/>

<polymer-element name="ed-disliked-view" attributes="">
  <template>
    <link rel="stylesheet" href="../ed-liked-view/ed-liked-view.css">
    <div class="genre-container">
      <div class="header" >
        <span>Tap 1 genre</span>
        <span>you don't want to hear</span>
      </div>
      <form>
        <ed-bubble-select view-type="dislike" genre="pop">pop</ed-bubble-select>
        <ed-bubble-select view-type="dislike" genre="rock">rock</ed-bubble-select>
        <ed-bubble-select view-type="dislike" genre="alternative">alternative</ed-bubble-select>
        <ed-bubble-select view-type="dislike" genre="country">country</ed-bubble-select>
        <ed-bubble-select view-type="dislike" genre="hip-hop">hip-hop/ <br> urban</ed-bubble-select>
        <ed-bubble-select view-type="dislike" genre="dance">dance/ <br> edm</ed-bubble-select>
      </form>
      <button id="next-button" type="submit" href="#">
        Next
      </button>
    </div>
  </template>
  <script src="ed-disliked-view.js"></script>
</polymer-element>
