/**
 * Created by Ryan Bogle on 11/10/14.
 */
// Use "matchMedia", create json to match for js use

@phoneMaxDeviceWidth: 25em;
@phoneMaxDeviceHeight: 40em;

@portraitMaxDeviceWidth: 41em;
@portraitMaxDeviceHeight: 50em;

@landscapeMaxDeviceWidth: 50em;
@landscapeMaxDeviceHeight: 120em;

@desktopMaxDeviceWidth: 60em;
@desktopMaxDeviceHeight: 240em;


// TODO: By Size
// TODO: By Orientation
// TODO: By Both

