/**
 * Created by Ryan Bogle on 11/10/14.
 */
// Note Use "matchMedia", create json to match for js use

//
// Currently breakpoints works as em device widths
//
//
//
//
@phoneMaxWidth: 30em;
//@phoneMaxHeight: 40em;

@portraitMaxWidth: 50em;
//@portraitMaxHeight: 50em;

@landscapeMinWidth: 80em;
//@landscapeMaxHeight: 120em;

@desktopMinWidth: 100em;
//@desktopMaxHeight: 240em;


// TODO: By Size
// TODO: By Orientation
// TODO: By Both

