/**
 * Created by Ryan Bogle on 11/10/14.
 */
// Use "matchMedia", create json to match for js use

@phoneMaxDeviceWidth: 500px;
@phoneMaxDeviceHeight: 950px;

@portraitMaxDeviceWidth: 1000px;
@portraitMaxDeviceHeight: 1200px;

@landscapeMaxDeviceWidth: 1200px;
@landscapeMaxDeviceHeight: 1000px;

@desktopMaxDeviceWidth: 1080px;
@desktopMaxDeviceHeight: 980px;


// TODO: By Size
// TODO: By Orientation
// TODO: By Both

@phone: 500px;

@portrait: 800px;

@tablet: 1200px;

