<checkbox-select name="notifications" value="notes" disabled>
  <img src="https://cdn4.iconfinder.com/data/icons/6x16-free-application-icons/16/Favourites.png" alt="checkbox icon" />
</checkbox-select>

<checkbox-select name="notifications" value="notes" disabled>
  <img src="https://cdn4.iconfinder.com/data/icons/6x16-free-application-icons/16/Favourites.png" alt="checkbox icon" />
</checkbox-select>

<checkbox-select name="notifications" value="notes" disabled>
  <img src="https://cdn4.iconfinder.com/data/icons/6x16-free-application-icons/16/Favourites.png" alt="checkbox icon" />
</checkbox-select>

<checkbox-select name="notifications" value="notes">
  <img src="https://cdn4.iconfinder.com/data/icons/6x16-free-application-icons/16/Favourites.png" alt="checkbox icon" />
</checkbox-select>

<template>
  <script>
    ( function( document ) {
      var chkbx = document.querySelector("checkbox-select[value=notes]");
      chkbx.disabled = false;
    })( document );
  </script>
</template>
