@import "../../../styles/ed/buttons.mixin.less";
@import "../../../styles/ed/colors.vars.less";
@import "../../../styles/ed/backgrounds.mixin.less";
@import "../../../styles/fonts/edTypeStyles.less";
@import "../../../styles/ed/title-bar.mixin.less";

.chart-title-bar {
  .edTitleBar();
  z-index: 4;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.chart-wrapper {
  position: relative;
  display:flex;
  height: 100%;
  overflow: hidden;
}

.chart-arrows {
  position: absolute;
  width: 20%;
  height: 25rem;
  pointer-events: none;
  z-index: 1;
  &::shadow {
    svg {
      position: static;
      top: 0;
      .transform( translateY(0%) );
      fill: @originalWhite;
    }
  }
}

#arrow-right {
  right: 2rem;
}

#arrow-left {
  left: 2rem;
}

.single-chart {
  position: absolute;
  top: 9rem;
  right: 0;
  left: 0;
  height: 100%;
}

#single-chart-wrapper {
  transform: translateX(0);
  transition: transform 1s ease-in;
  width: 100%;

  .first {
    transform: translateX(0);
  }

  .second {
    transform: translateX(100%);
  }

  .third {
    transform: translateX(200%);
  }

  .fourth {
    transform: translateX(300%);
  }

  &.one {
    .transform( translate3d( 0, 0, 0));
    transition: transform 1s ease;
  }

  &.two {
    .transform( translate3d( -100%, 0, 0 ));
    transition: transform 1s ease;
  }

  &.three {
    .transform( translate3d( -200%, 0, 0 ));
    transition: transform 1s ease;
  }

  &.four {
    .transform( translate3d( -300%, 0, 0 ));
    transition: transform 1s ease;
  }
}


