@import "../../../styles/ed/buttons.mixin.less";
@import "../../../styles/ed/colors.vars.less";
@import "../../../styles/ed/backgrounds.mixin.less";
@import "../../../styles/fonts/edTypeStyles.less";
@import "../../../styles/ed/title-bar.mixin.less";

.chart-title-bar {
  .edTitleBar();
  z-index: 4;
}

.chart-wrapper {
  position: relative;
  display: block;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.chart-arrows {
  position: absolute;
  width: 8vh;
  height: 8vh;
  top: 10vh;
  pointer-events: none;
  z-index: 3;
  box-sizing: border-box;
  padding: 3%;
  &::shadow {
    svg {
      position: static;
      top: 0;
      .transform( translateY(0%) );
      fill: @originalWhite;
    }
  }
}

#arrow-left {
  left: 0;
  padding-right: 0;
}

#arrow-right {
  right: 0;
  padding-left: 0;
}

.single-chart {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#single-chart-wrapper {
  width: 100%;
  height: 90vh;
  margin-top: 10vh;
  z-index: 0;
  transform: translateX(0);
  transition: transform 1s ease-in;

  .first {
    transform: translateX(0);
  }

  .second {
    transform: translateX(100%);
  }

  .third {
    transform: translateX(200%);
  }

  .fourth {
    transform: translateX(300%);
  }

  &.one {
    .transform( translate3d( 0, 0, 0));
    transition: transform 1s ease;
  }

  &.two {
    .transform( translate3d( -100%, 0, 0 ));
    transition: transform 1s ease;
  }

  &.three {
    .transform( translate3d( -200%, 0, 0 ));
    transition: transform 1s ease;
  }

  &.four {
    .transform( translate3d( -300%, 0, 0 ));
    transition: transform 1s ease;
  }
}


