<link rel="import" href="../ed-single-chart/ed-single-chart.html"/>
<link rel="import" href="../../../components/ed/ed-menu-button/ed-menu-button.html"/>

<polymer-element name="ed-charts-view" attributes="">
  <template>
    <link rel="stylesheet" href="./ed-charts-view.css">
    <div class="chart-wrapper">
      <div class="chart-title-bar">
        <ed-menu-button></ed-menu-button>
        <h1 id="chart-title">Charts</h1>
      </div>

      <div id="single-chart-wrapper">
        <ed-single-chart class="single-chart first" chart-name="most-tracks-rated-fan" default-copy="Rate songs and be the first one to get in this chart!" chart-title="Top Rater" chart-subtitle="Fans who rated the most songs" chart-badge="badge-fan-msr" chart-object=""></ed-single-chart>
        <ed-single-chart class="single-chart second" chart-name="completed-listens-fan" default-copy= "Listen to songs from beginning to end to get in this chart!" chart-title="Top Listener" chart-subtitle="Fans with the most complete listens" chart-badge="badge-fan-mcl" chart-object=""></ed-single-chart>
        <ed-single-chart class="single-chart third" chart-name="completed-listens-track" default-copy="Artists with songs that have the most completed listens will appear here" chart-title="Most Completed Listens" chart-subtitle="Songs people loved all the way through" chart-badge="badge-artist-mcl" chart-object=""></ed-single-chart>
        <ed-single-chart class="single-chart fourth" chart-name="highest-rated-track" default-copy="Artists that have the highest rated songs will appear here" chart-title="Highest Rated Song" chart-subtitle="This week's most popular song" chart-badge="badge-hrs" chart-object=""></ed-single-chart>
      </div>

    </div>
  </template>
  <script src="./ed-charts-view.js"></script>
</polymer-element>
