<polymer-element name="ed-profile-edit" attributes="">
  <template>
    <link rel="stylesheet" href="./ed-profile-edit.css">

    <div class="wrapper">
      <!-- navigation bar -->
      <div class="nav">
        <ed-icon name="add189"></ed-icon>
        <div class="page-title"></div>
      </div>
      <!-- name edit field, place holder to be replaced with ed-id data -->
      <div class="name-field">
        <div class="input-title"></div>
        <ed-icon-input icon="add189" placeholder="Jeff"></ed-icon-input>
        <ed-icon-input icon="add189" placeholder="Lin"></ed-icon-input>
      </div>
      <!-- profile picture edit -->
      <div class="photo-field">
        <!-- not sure if going to be a separate component or-->
      </div>
    </div>

  </template>
  <script src="ed-profile-edit.js"></script>
</polymer-element>
