@import "../../../styles/ed/colors.vars.less";
@import "../../../styles/fonts/edTypeStyles.less";
@import "../../../styles/mixins/prefixes/animations.less";
@import "../../../styles/mixins/prefixes/transforms.less";

#song-card-wrapper {
  width: 100%;
  overflow-y: scroll;
  height: 100vh;
  max-width: 59.6rem;
  position: fixed;
  top: 0;
  z-index: 3;
  pointer-events: none;

  &.minimized {
    overflow: hidden;
  }
}

#mini-player-wrapper {
  background: @darkPurple3;
  position: absolute;
  left: 0;
  bottom: 100%;
  pointer-events: all;
  padding: .5rem 0 0;
  transition: all .7s;
  .transform( translate3d( 0, 0, 0 ));

  &.close {
    .transform( translate3d( 0, 100vh, 0 ));
    z-index: 2;
  }
}

#main-player-wrapper {
  min-height: 100%;
  z-index: 2;
  pointer-events: all;
  background: @darkPurple3;
  transition: all .7s;
  .transform( translate3d( 0, 0, 0 ));

  &.close {
    .transform( translate3d( 0, 100vh, 0 ));
  }
}

#user-ranking {
  margin-bottom: 4%;
}

#minify-button {
  width: 15%;
  height: 13vh;
  background: transparent;
  border: none;
  outline: none;
}

#minify-icon {
  fill: @lightGrey1;
  height: 60%;
  width: 80%;
}

#songs-rated {
  .user-rank {
    margin-right: 1rem;
  }
}
