<link rel="import" href="../../../components/ed/ed-user-ranking/ed-user-ranking.html"/>
<link rel="import" href="../../../components/ed/ed-star-rating/ed-star-rating.html"/>
<link rel="import" href="../../../components/ed/ed-mini-player/ed-mini-player.html"/>
<link rel="import" href="../../../components/ed/ed-song-card-scrubber/ed-song-card-scrubber.html"/>
<link rel="import" href="../../../components/ed/ed-icon/ed-icon.html"/>

<polymer-element name="ed-song-card-view" attributes="">
  <template>
    <link rel="stylesheet" href="./ed-song-card-view.css">
    <div id="song-card-wrapper" class="minimized">
      <section id="mini-player-wrapper">
        <ed-mini-player id="mini-player"
            song="Track Title" artist="Artist Name"
            image="http://www.clashmusic.com/sites/default/files/styles/article_feature/public/field/image/DP%20square.jpg"></ed-mini-player>
      </section>

      <section id="main-player-wrapper" class="hide-main">
        <section id="user-ranking">
          <button id="minify-button">
            <ed-icon id="minify-icon" name="arrow-back" rotation="270"></ed-icon>
          </button>
          <ed-user-ranking id="complete-listens" teal top="Completed" bottom="Plays" rank="276"></ed-user-ranking>
          <ed-user-ranking id="songs-rated" top="Songs" bottom="Rated" rank="76"></ed-user-ranking>
        </section>
        <ed-song-card-scrubber id="main-player" min="0" max="0" value
                               image="http://i.imgur.com/NEr8ka0.jpg"></ed-song-card-scrubber>
        <ed-star-rating id="star-rating"></ed-star-rating>
        <section id="brief-bio">
          <div class='responsive-box'>
            <div class='responsive-content'>
              <h3>Artist/Band Biography</h3>
              <button id="bio-button">
                <ed-icon id="bio-icon" name="arrow-back" rotation="180"></ed-icon>
              </button>
              <p id="bio-copy">
              </p>
            </div>
          </div>
        </section>
      </section>
    </div>
  </template>
  <script src="ed-song-card-view.js"></script>
</polymer-element>
