@import "../../../styles/ed/colors.vars.less";
@import "../../../styles/fonts/edTypeStyles.less";
@import "../../../styles/mixins/prefixes/animations.less";
@import "../../../styles/mixins/prefixes/transforms.less";

#song-card-wrapper {
  background: @darkPurple3;
  width: 100%;
  overflow-y: hidden;
  height: 100vh;
  max-width: 59.6rem;
}

#mini-player-wrapper {
  position: absolute;
  bottom: 100%;
  .transform( translate3d( 0, 0, 0 ));
  -webkit-transition: transform .8s;
  transition: transform .8s;

  &.show-mini {
    .transform( translate3d( 0, 100vh, 0 ));
    -webkit-transition: transform .8s;
    transition: transform .8s;
    z-index: 2;
  }
}

#main-player-wrapper {
  .transform( translate3d( 0, 0, 0 ));
  -webkit-transition: transform .8s;
  transition: transform .8s;
  z-index: 2;
  background: @darkPurple3;

  &.hide-main {
    .transform( translate3d( 0, 100vh, 0 ));
    -webkit-transition: transform .8s;
    transition: transform .8s;
    z-index: 2;
  }
}

#user-ranking {
  margin-bottom: 4%;
}

#minify-button {
  width: 15%;
  height: 15vh;
  background: transparent;
  border: none;
  outline: none;
}

#minify-icon {
  fill: @lightGrey1;
  height: 60%;
  width: 80%;
}

#songs-rated {
  .user-rank {
    margin-right: 1rem;
  }
}

#brief-bio {
  background: @originalWhite;
  .responsive-box {
    //padding: 1%;
    //margin-left: 4%;
    position: relative;
    width: 100%;
    background: @originalWhite;
    &:before {
      content: "";
      display: block;
      padding-top: 22%;
    }
  }
  .responsive-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: @originalWhite;
    text-align: center;
    p {
      color: @darkPurple3;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 85%;
      white-space: nowrap;
      .edType( paragraph-M );
      margin: 0;
    }
    h3 {
      text-align: left;
      vertical-align: middle;
      color: @originalTeal;
      .edType( heading-XXS );
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
  }
}

#bio-button {
  height: 55%;
  width: 23%;
  position: absolute;
  top: 0;
  right: 1%;
  margin-top: 5%;
  text-align: right;
  padding-right: 3rem;
  background: transparent;
  border: none;
  #bio-icon {
    fill: @originalTeal;
    height: 64%;
    width: 64%;
    position: inherit;
    margin: 2.7rem -2rem 0 0;
  }
}
