<polymer-element name="ed-bubble-select" attributes="name view-type genre image value disabled required checked">
  <template>
    <link rel="stylesheet" href="./ed-bubble-select.css">
    <div class="wrapper">
      <div class="ed-bubble {{genre}}"><content></content></div>
        <input id="checkbox-field" type="checkbox"
          name={{name}} value={{value}}
          disabled?="{{disabled}}"
          required?="{{required}}"
          checked?="{{checked}}"/>
    </div>
  </template>
  <script src="ed-bubble-select.js"></script>
</polymer-element>
