@import "../styles/ed/colors.vars.less";
@import "mixins/prefixes/transforms.less";

:host {
  float: left;
  max-width: 34.2rem;
  width: 33.3%
}

:host([checked]) {
  .ed-bubble {
    background-image: linear-gradient(to bottom, rgba(0, 164, 158, 0.5) 0%, rgba(0, 164, 158, 0.5) 100%), url( http://i.imgur.com/gdkaI.jpg );
  }
}

input[type="checkbox"] {
  visibility: hidden;
  margin: 0;
  padding: 0;
  opacity: 1;
}

.wrapper {
  position: relative;
  width: 100%;
  float: left;
}

.ed-bubble {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
  line-height: 0;
  background: @originalPurple;
  color: @white;
  text-align: center;
  font-size: 2.3rem;
  .transform( rotate(-30deg) );
}


