<link rel="import" href="../../components/ed/ed-icon/ed-icon.html"/>
<link rel="import" href="../../components/ed/ed-form-input/ed-form-input.html"/>

<polymer-element name="ed-registration-view" attributes="">
  <template>
    <link rel="stylesheet" href="./ed-registration-view.css">
    <div class="registration-container">
      <div class="ed-logo-header">
        <ed-icon name="eardish-logo-with-slogan"></ed-icon>
      </div>
      <div class="ed-registration-body">
        <form id="registration-form" method="post" role="form" action="#">
          <fieldset>
            <ed-form-input type="text" placeholder="First Name" icon="name-first"></ed-form-input>
            <ed-form-input type="text" placeholder="Last Name" icon="name-last"></ed-form-input>
            <ed-form-input type="email" placeholder="Your Email" icon="envelope"></ed-form-input>
            <ed-form-input type="date" placeholder="Year of Birth" icon="birthday"></ed-form-input>
            <ed-form-input type="text" placeholder="Zip Code" icon="zip"></ed-form-input>
            <p class="password-req-text"> *8 characters minimum </p>
            <ed-paired-input type="password" placeholder="Password"
                             icon="password"></ed-paired-input>
            <ed-form-input id="referral-code" type="email" placeholder="Referral Code" icon="star"></ed-form-input>
          </fieldset>
          <button id="registration-submit" class="invalid" >Sign Up</button>
        </form>
        <button id="sign-up-button" type="button" href="#">
          <span class="small-text">Have an account already?</span>
          <br />Login Here
        </button>
      </div>
    </div>
  </template>
  <script src="ed-registration-view.js"></script>
</polymer-element>
