@import "../../../styles/ed/buttons.mixin.less";
@import "../../../styles/ed/colors.vars.less";
@import "../../../styles/ed/alignments.mixin.less";
@import "../../../styles/ed/backgrounds.mixin.less";

* {
  font-family: "Ubuntu";
}

.ed-logo-header {
  .logoFormHeader();
}

.registration-container {
  .mainPicturedBackground();
}

.hidden {
  display: none;
}

.ed-registration-body {
  text-align: center;
  fieldset {
    border: 0;
  }
  ed-form-input {
    margin: .25rem;
    text-align: center;
  }
  .password-req-text {
    color: @originalTeal;
    .edType( heading-XS );
    margin-top: 1rem;
    margin-bottom: .9rem;
  }
}

.error-messages {
  text-align: center;
  .edType( heading-XXS );
  color: @originalTeal;
}

#registration-submit {
  .edPrimaryButton();
  margin: 3% auto 0 auto;
}

#sign-up-button {
  .edSecondaryButton();
  margin: 0 auto;
  text-decoration: none;
}
