@import "../../../styles/ed/buttons.mixin.less";
@import "../../../styles/ed/colors.vars.less";
@import "../../../styles/ed/alignments.mixin.less";
@import "../../../styles/ed/backgrounds.mixin.less";

* {
  font-family: "Ubuntu";
}

.ed-logo-header {
  .logoFormHeader();
}

.registration-container {
  .mainPicturedBackground();
}

.hidden {
  display: none;
}

.ed-registration-body {
  text-align: center;
  fieldset {
    border: 0;
  }
  .password-req-text {
    color: @originalTeal;
    .edType( heading-XS );
    // todo font override
    font-weight: 300;
    margin: 2% 0;
  }
}

.error-messages {
  text-align: center;
  .edType( heading-XXS );
  // todo font override
  font-weight: 300;
  color: @originalTeal;
  margin-bottom: 4%
}

#registration-submit {
  .edPrimaryButton();
  margin: 4% auto 0;
  padding: 4%;
  // todo font override
  font-weight: 100;
}

#sign-up-button {
  .edSecondaryButton();
  margin: 4% auto 0;
  padding: 2% 0;
  text-decoration: none;
  // todo font override
  font-weight: 100;
}
