<link rel="import" href="../../../components/ed/ed-icon/ed-icon.html"/>
<link rel="import" href="../../../components/ed/ed-form-input/ed-form-input.html"/>
<link rel="import" href="../../../components/ed/ed-paired-input/ed-paired-input.html"/>

<polymer-element name="ed-registration-view" attributes="">
  <template>
    <link rel="stylesheet" href="./ed-registration-view.css">
    <div class="registration-container">
      <div class="ed-logo-header">
        <ed-icon name="eardish-logo-with-slogan"></ed-icon>
      </div>
      <div class="ed-registration-body">
        <!--todo where do i put this?-->
        <div id="errorEmail"></div>
        <div id="errorZip"></div>
        <ed-form-input type="text"  class="name-first" placeholder="First Name" icon="name-first"></ed-form-input>
        <ed-form-input type="text"  class="name-last" placeholder="Last Name" icon="name-last"></ed-form-input>
        <ed-form-input type="email" class="email" placeholder="Your Email" icon="envelope"></ed-form-input>
        <!--todo add -->
        <ed-form-input type="number"  class="birthday" min=1901 max=2015 placeholder="Year of Birth" icon="birthday"></ed-form-input>
        <ed-form-input type="text"  class="zipcode" placeholder="Zip Code" icon="zip"></ed-form-input>
        <p class="password-req-text"> *8 characters minimum </p>
        <ed-paired-input type="password" class="password" placeholder="Password"
                         icon="password"></ed-paired-input>
        <ed-form-input type="email" class="invite-code" id="referral-code"  placeholder="Referral Code" icon="star"></ed-form-input>

        <button id="registration-submit" class="invalid">Sign Up</button>
        <button id="sign-up-button" type="button" href="#">
          <span class="small-text">Have an account already?</span>
          <br />Login Here
        </button>
      </div>
    </div>
  </template>
  <script src="ed-registration-view.js"></script>
</polymer-element>
