<link rel="import" href="login/ed-login-view/ed-login-view.html"/>
<link rel="import" href="login/ed-registration-view/ed-registration-view.html"/>
<link rel="import" href="onboarding/ed-liked-view/ed-liked-view.html"/>
<link rel="import" href="onboarding/ed-forgot-pass-request-view/ed-forgot-pass-request-view.html"/>
<link rel="import" href="onboarding/ed-forgot-pass-reset-view/ed-forgot-pass-reset-view.html"/>
<link rel="import" href="onboarding/ed-disliked-view/ed-disliked-view.html"/>
<link rel="import" href="onboarding/ed-onboarding-view/ed-onboarding-view.html"/>
<link rel="import" href="profile/ed-profile-artist/ed-profile-artist.html"/>
<link rel="import" href="profile/ed-profile-fan/ed-profile-fan.html"/>
<link rel="import" href="onboarding/ed-forgot-pass-view/ed-forgot-pass-view.html"/>
<link rel="import" href="profile/ed-profile-edit/ed-profile-edit.html" />
