<link rel="import" href="player/ed-song-card-view/ed-song-card-view.html" />
<link rel="import" href="login/ed-login-view/ed-login-view.html"/>
<link rel="import" href="login/ed-registration-view/ed-registration-view.html"/>
<link rel="import" href="onboarding/ed-liked-view/ed-liked-view.html"/>
<link rel="import" href="onboarding/ed-forgot-pass-request-view/ed-forgot-pass-request-view.html"/>
<link rel="import" href="onboarding/ed-forgot-pass-reset-view/ed-forgot-pass-reset-view.html"/>
<link rel="import" href="onboarding/ed-disliked-view/ed-disliked-view.html"/>
<link rel="import" href="onboarding/ed-onboarding-view/ed-onboarding-view.html"/>
<link rel="import" href="profile/ed-profile-artist/ed-profile-artist.html"/>
<link rel="import" href="profile/ed-profile-fan/ed-profile-fan.html"/>
<link rel="import" href="onboarding/ed-forgot-pass-view/ed-forgot-pass-view.html"/>
<link rel="import" href="profile/ed-profile-edit/ed-profile-edit.html" />
<link rel="import" href="charts/ed-charts-view/ed-charts-view.html" />
<link rel="import" href="settings/ed-settings-view.html" />
<link rel="import" href="discover/ed-discover-view.html" />
<link rel="import" href="referral/ed-referral-view.html" />
<link rel="import" href="report/ed-report-view.html" />
