<link rel="import" href="../../../components/ed/ed-icon/ed-icon.html"/>
<link rel="import" href="../../../components/ed/ed-form-input/ed-form-input.html"/>


<polymer-element name="ed-profile-edit" attributes="ed-id">
  <template>
    <link rel="stylesheet" href="./ed-profile-edit.css">
    <div class="ed-profile-edit-wrapper">
      <div class="edit-title-bar">
        <button>
          <ed-icon name="arrow-back"></ed-icon>
        </button>
        <h1>Edit Profile</h1>
      </div>
      <form id="edit-form">
        <div class="name-field">
          <p>NAME (First, Last)</p>
          <ed-form-input id="first-name" icon="add189" placeholder="Jeff"></ed-form-input>
          <ed-form-input id="last-name" icon="add189" placeholder="Lin"></ed-form-input>
        </div>
        <hr>
        <section class="image-field">
          <div class="image-container">
            <!-- placeholder until more info gets added to service -->
            <img-placeholder src="{{ edArtist.displayImage }}" image="placecage"></img-placeholder>
          </div>
          <p>Change Profile Photo</p>
        </section>
        <hr>
        <ul class="edit-list">
          <li id="choose-photo">Choose Existing Photo</li>
          <li id="take-photo">Take Photo</li>
          <li class="music-pref">Music Preferences</li>
          <li id="edit-music-button">Edit Music Taste</li>
        </ul>
      </form>
    </div>
  </template>
  <script src="ed-profile-edit.js"></script>
</polymer-element>
