<link rel="import" href="../../../components/ed/ed-icon/ed-icon.html"/>
<link rel="import" href="../../../components/ed/ed-form-input/ed-form-input.html"/>

<polymer-element name="ed-profile-edit">
  <template>
    <link rel="stylesheet" href="./ed-profile-edit.css">
    <div class="ed-profile-edit-wrapper">
      <div class="edit-title-bar">
        <button id="edit-back" on-tap="{{goBack}}">
          <ed-icon name="arrow-back"></ed-icon>
        </button>
        <h1>Edit Profile</h1>
      </div>
      <form id="edit-form">
        <div class="name-field">
          <p>NAME (First, Last)</p>
          <ed-form-input id="first-name" icon="name-first" placeholder="{{ edFan.name.first }}"></ed-form-input>
          <ed-form-input id="last-name" icon="name-last" placeholder="{{ edFan.name.last }}"></ed-form-input>
        </div>
        <hr>
        <section class="image-field">
          <div class="image-container">
            <img-placeholder id="profile-image" src="" image="fan"></img-placeholder>
          </div>
          <p>Change Profile Photo</p>
          <hr>
        </section>
        <ul class="edit-list">
          <li id="choose-photo">
            <label for="choose-photo-input">Choose Existing Photo</label>
            <input id="choose-photo-input" name="choose-photo-input" type="file" accept="image/*">
          </li>
          <li id="take-photo" on-tap="{{takePhoto}}">
            Take Photo
          </li>
          <li class="music-pref">Music Preferences</li>
          <li id="edit-music-button">
            <a href="#/onboarding/like">Edit Preferred Genres</a>
            <ed-icon name="arrow-back" rotation="180"></ed-icon>
          </li>
        </ul>
      </form>
    </div>
  </template>
  <script src="ed-profile-edit.js"></script>
</polymer-element>
