@import "../../../styles/ed/buttons.mixin.less";
@import "../../../styles/fonts/edTypeStyles.less";
@import "../../../styles/ed/colors.vars.less";
@import "../../../styles/ed/title-bar.mixin.less";
@import "../../../styles/ed/menu-button.mixin.less";
@import "../../../styles/ed/list-style.mixin.less";

.ed-profile-edit-wrapper {
  width: 100%;
  height: 100vh;
  background-color: @darkPurple2;
  margin: 0 auto;
  overflow-y: scroll;
  .edit-title-bar {
    .edTitleBar( no-button );
    .edMenuButton();
  }

  .name-field {
    margin-bottom: 4%;

    p {
      .edType( heading-XXS );
      color: @originalTeal;
      margin: 1rem 0 0.5rem 2rem;
    }
    ed-form-input {
      width: 92%;
      height: 8vh;
      margin: 0 auto 1vh;
    }
  }

  .image-field {
    padding-top: 1.5rem;
    border-top: 0.1rem solid @darkPurple1;
    border-bottom: 0.1rem solid @darkPurple1;

    .image-container {
      width: 20%;
      height: 20%;
      margin-left: 2rem;
      img-placeholder {
        height: auto;
        width: 100%;
      }
    }
    p {
      .edType( heading-XXS );
      text-transform: uppercase;
      color: @originalTeal;
      margin: 1rem 0 1rem 2rem;
      padding: 0;
    }
  }

  .edit-list {
    .edListStyle();
    overflow: hidden;
    a {
      text-decoration: none;
      color: @lightGrey1;
    }
    li {
      color: @lightGrey1;
      padding: 2.3rem 2rem;
      input {
        display: none;
      }
    }
    .music-pref {
      .edType( heading-XXS );
      color: @originalTeal;
      text-transform: uppercase;
      padding-top: 4.4rem;
      padding-bottom: 1rem;
    }
  }
}

#edit-form {
  .edContentStyle();
}

#edit-music-button {
  ed-icon {
    float: right;
    width: 1.8rem;
    height: 2.3rem;
    fill: @originalTeal;
  }
}
