@import "../../../styles/ed/buttons.mixin.less";
@import "../../../styles/fonts/edTypeStyles.less";
@import "../../../styles/ed/colors.vars.less";
@import "../../../styles/mixins/prefixes/transforms.less";
@import "../../../styles/mixins/prefixes/flex.less";
@import "../../../styles/ed/title-bar.mixin.less";
@import "../../../styles/mixins/prefixes/user-select";
@import "../../../styles/ed/ellipsis-overflow.mixin.less";

hr {
  height: 0.5rem;
  border: 0;
  box-shadow: inset 0 0.5rem 0.5rem -0.5rem @darkPurple1;
}

.ed-profile-fan-wrapper {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: @darkPurple2;
  overflow-y: scroll;
  .top-bar {
    .edTitleBar();
    .rankings-container {
      float: right;
      height: 10vh;
      line-height: 10vh;
      padding-right: 4.5%;
    }
  }
  .image-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    .edContentStyle();
  }
  .profile-name {
    edEllipsisOverflow();
    position: absolute;
    top: 1.5rem;
    right: 4.5%;
    .edType(heading-XXXL);
    text-align: right;
    text-transform: uppercase;
    color: @originalWhite;
    z-index: 3;
    span {
      display: block;
      .edType( heading-S );
      font-weight: 500;
      line-height: 50%;
      text-transform: none;
      color: @originalTeal;
    }
  }
  .artist-name {
    .userSelect( text );
  }
  .image-gradient:after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: 2;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,.8)), color-stop(19%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,.8) 0%,rgba(0,0,0,0) 19%);
    background: -o-linear-gradient(top, rgba(0,0,0,.8) 0%,rgba(0,0,0,0.65) 19%);
    background: -ms-linear-gradient(top, rgba(0,0,0,.8) 0%,rgba(0,0,0,0) 19%);
    background: linear-gradient(to bottom, rgba(0,0,0,.8) 0%,rgba(0,0,0,0) 19%);
  }
  .icon-section {
    margin: 9% 3% 4%;
    .edType( heading-XXS );
    color: @originalTeal;
    text-transform: uppercase;
    a {
      display: inline;
      float: right;
      clear: none;
      min-width: 30%;
      border: none;
      background: transparent;
      .edType( heading-XXS );
      color: @lightGrey1;
      text-decoration: none;
      ed-icon {
        width: 1.7rem;
        height: 2rem;
        margin-right: .5rem;
        vertical-align: middle;
        fill: @lightGrey1;
      }
      span {
        vertical-align: middle;
      }
    }
  }
  .badge-section {
    .flexContainer( row nowrap; center; stretch; center; );
    margin: 0 2.5% 2%;
    ed-icon {
      position: relative;
      .flexItem( 1 );
      margin: 0 1%;
      height: 11vh;
      // has count attribute, name attribute is not "badge-empty" and count is not 1
      &[count]:not([name="badge-empty"]):not([count="1"]) {
        &::after, &:after {
          content: attr( count );
          display: block;
          width: 6vw;
          height: 6vw;
          position: absolute;
          top: 20%;
          left: 75%;
          .edType( heading-XS );
          line-height: 6vw; // same as height
          font-weight: 600;
          text-align: center;
          color: @originalWhite;
          background-color: @originalRed;
          border: 2px solid @originalWhite;
          border-radius: 50%;
        }
      }
    }
  }
  .bio-section {
    background: @originalWhite;
    box-sizing: border-box;
    padding: 5% 3% 2%;
    .bio-header {
      .edType( heading-XS );
      color: @originalTeal;
      text-transform: capitalize;
    }
    .bio-body {
      margin-top: 3%;
      .edType( paragraph-S );
      color: @darkPurple3;
      word-wrap: break-word;
      line-height: 120%;
    }
  }
}
