<link rel="import" href="../../../components/ed/ed-icon/ed-icon.html"/>
<link rel="import" href="../../../components/ui/img-placeholder/img-placeholder.html"/>
<link rel="import" href="../../../components/ed/ed-menu-button/ed-menu-button.html"/>

<polymer-element name="ed-profile-fan" attributes="ed-id">
  <template>
    <link rel="stylesheet" href="./ed-profile-fan.css">
    <div class="ed-profile-fan-wrapper">
      <header class="top-bar">
        <ed-menu-button></ed-menu-button>
        <ed-user-ranking top="Completed" bottom="Plays" rank="{{ completedPlays || 0 }}" teal></ed-user-ranking>
        <ed-user-ranking top="Songs" bottom="Rated" rank="{{ songsRated || 0 }}"></ed-user-ranking>
      </header>
      <section class="image-wrapper">
        <div class="profile-name">
          {{ edFan.name.first }} {{ edFan.name.last }}
          <span>Fan</span>
        </div>
        <img-placeholder src="{{ edFan.art.phoneLarge }}" image="fan"></img-placeholder>
      </section>
      <section class="icon-section">
        Rewards
        <a href="#/profile/edit" id="edit-btn">
          <ed-icon id="btn-icon" name="pencil"></ed-icon>
          <span>Edit Profile</span>
        </a>
      </section>
      <hr>
      <section class="badge-section">
        <ed-icon name="badge-empty"></ed-icon>
        <ed-icon name="badge-empty"></ed-icon>
        <ed-icon name="badge-empty"></ed-icon>
        <ed-icon name="badge-empty"></ed-icon>
      </section>
      <hr>
    </div>
  </template>
  <script src="ed-profile-fan.js"></script>
</polymer-element>
