<link rel="import" href="../../../components/ed/ed-icon/ed-icon.html"/>

<polymer-element name="ed-profile-fan" attributes="ed-id">
  <template>
    <link rel="stylesheet" href="./ed-profile-fan.css">
    <div class="ed-profile-fan-wrapper">
      <div class="ed-content">
        <div class="rank-bar">
          <div class="back-icon">
            <ed-icon name="arrow-down"></ed-icon>
          </div>
          <div class="user-rank">
            <div class="rank-text">Your
              <span>rank</span>
            </div>
            <div class="rank-box">{{ edFan.displayRank }}</div>
          </div>
          <div class="songs-rated">
            <div class="songs-rated-text">Songs
              <span>rated</span>
            </div>
            <div class="songs-rated-box">{{ edFan.songsRated }}</div>
          </div>
        </div>
        <div class="image-wrapper">
          <div class="profile-name"> {{ edFan.displayName }}
            <span>Fan</span>
          </div>
          <div class="profile-image">
            <img src="{{ edFan.displayImage }}"/>
          </div>
        </div>
        <div class="icon-section">
          <div class="icon-header">Rewards
            <div class="edit-profile">
              <ed-icon name="pencil"></ed-icon>
              <button>Edit Profile</button>
            </div>
          </div>
          <hr>
          <div class="icon-bar-wrapper">
            <ed-icon name="{{ edFan.displayIcon1 }}"></ed-icon>
            <ed-icon name="{{ edFan.displayIcon2 }}"></ed-icon>
            <ed-icon name="{{ edFan.displayIcon3 }}"></ed-icon>
            <ed-icon name="{{ edFan.displayIcon4 }}"></ed-icon>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </template>
  <script src="ed-profile-fan.js"></script>
</polymer-element>
