<link rel="import" href="../../../components/ed/ed-icon/ed-icon.html"/>

<polymer-element name="ed-profile-fan" attributes="ed-id">
  <template>
    <link rel="stylesheet" href="./ed-profile-fan.css">
    <div class="wrapper">
      <div class="ed-content">
        <div class="rank-bar">
          <div class="back-icon">
            <ed-icon name="add189"></ed-icon>
          </div>
          <div class="user-rank">
            <div class="rank-text">Your
              <span>rank</span>
            </div>
            <div class="rank-box">76</div>
          </div>
          <div class="songs-rated">
            <!-- the below is to be replace with a data object -->
            <div class="songs-rated-text">Songs
              <span>rated</span>
            </div>
            <!-- the below is to be replace with a data object -->
            <div class="songs-rated-box">362</div>
          </div>
        </div>
        <div class="image-wrapper">
          <!-- the below is to be replace with a data object -->
          <div class="profile-name"> Rock Fan
            <span>Artist/Band</span>
          </div>
          <div class="profile-image">
            <!-- the below is to be replace with a data object -->
            <img src="http://i.imgur.com/xvirNok.jpg"/>
          </div>
        </div>
        <div class="icon-section">
          <div class="icon-header">Rewards
            <div class="edit-profile">
              <ed-icon name="add189"></ed-icon>
              <button>Edit Profile</button>
            </div>
          </div>
          <hr>
          <div class="icon-bar-wrapper">
            <!-- the below is to be replace with a data object -->
            <ed-icon name="add189"></ed-icon>
            <ed-icon name="add189"></ed-icon>
            <ed-icon name="add189"></ed-icon>
            <ed-icon name="add189"></ed-icon>
          </div>
          <hr>
        </div>
      </div>
      <div class="ad-content">
        <!-- the below is to be replace with a data object -->
        <img src="http://i.imgur.com/BHsn5lxb.jpg" />
      </div>
    </div>
  </template>
  <script src="ed-profile-fan.js"></script>
</polymer-element>
