.parentElementVertAlign() {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.verticalAlign() {
  position: relative;
  top: 50%;
  -webkit-transform+_: translateY(-50%);
  -ms-transform+_: translateY(-50%);
  transform+_: translateY(-50%);
}
