@baseURL: '/assets/background-images/';
@imageURL: 'login_image__1080x1920.jpg';

.mainBackground() {
  background: url( '@{baseURL}@{imageURL}' ) no-repeat fixed center;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
}
