@import "../ed/colors.vars.less";
@import "../../styles/mixins/prefixes/transforms.less";

@baseURL: "assets/background-images/";
@imageURL: "login_image__1080x1920.jpg";

.mainPicturedBackground( @relativePath: "../../../"; ) {
  background: url( '@{relativePath}@{baseURL}@{imageURL}' ) no-repeat fixed center;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
}

.logoFormHeader() {
  width: 100%;
  ed-icon {
    width: 94%;
    fill: @originalWhite;
    pointer-events: none;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
