// code below used currently in registration view as it's own class...can be abstracted and used in more than one view
.purplePeopleBackground() {
  background: linear-gradient(to bottom, rgba(32, 20, 44, 0) , rgba(32, 20, 44, 1)), url("../../assets/background-images/login_image__1080x1920.jpg") no-repeat fixed center;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
}
