@import "colors.vars.less";
@import "../fonts/edTypeStyles.less";
@import "alignments.mixin.less";

/**
* Single Line Button Mixin
* .edPrimaryButton();
*
* Description:
* This mixin is used to make the standard eardish button
*
*/
.edPrimaryButton( @backgroundColor: @originalPurple; @activeColor: @lightPurple1; @disabledColor: @lightGrey1 ) when ( iscolor(@backgroundColor) ) {
  .edType( heading-L );
  color: @originalWhite;
  //padding: 5% 0;
  width: 100%;
  max-width: 59.6rem;
  border: none;
  background-color: @backgroundColor;
  text-transform: uppercase;
  display: inherit;
  &:active, &:hover {
    background-color: @activeColor;
  }
  &:disabled {
    background-color: @disabledColor;
  }
}

.edSecondaryButton( @backgroundColor: @darkPurple3; @activeColor: @darkPurple1 ) when ( iscolor(@backgroundColor) ) {
  .edPrimaryButton( @backgroundColor; @activeColor );
  .edType( heading-M );
  .small-text {
    .edType( heading-XS );
    // todo font override
    font-weight: 100;
    color: #31AFAE;
    text-transform: none;
  }
}

.edButtonTertiary() {
  .edType( heading-M );
  color: @originalWhite;
  padding: 3.5rem 2rem;
  width: 100%;
  background-color: @darkPurple3;
  border-bottom: 0.2rem solid @darkPurple1;
  &:active, &:hover {
    background-color: @darkPurple1;
  }
}
