@import "colors.vars.less";
@import "../fonts/edTypeStyles.less";
@import "alignments.mixin.less";

/**
* Single Line Button Mixin
* .edPrimaryButton();
*
* Description:
* This mixin is used to make the standard eardish button
*
*/
.edPrimaryButton( @backgroundColor: @originalPurple; @activeColor: @lightPurple1 ) when ( iscolor(@backgroundColor) ) {
  .edType( heading-L );
  color: @originalWhite;
  width: 100%;
  max-width: 59.6rem;
  height: 9.2rem;
  border: none;
  background-color: @backgroundColor;
  text-transform: uppercase;
  display: inherit;
  &:active, &:hover {
    background-color: @activeColor;
  }
}

.edSecondaryButton( @backgroundColor: @darkPurple3; @activeColor: @darkPurple1 ) when ( iscolor(@backgroundColor) ) {
  .edPrimaryButton( @backgroundColor; @activeColor );
  .edType( heading-M );
  .small-text {
    .edType( heading-XS );
    color: #31AFAE;
    text-transform: none;
    margin-bottom: 0;
  }
}

.edPrimaryButton( single-line ) {
  .edPrimaryButton();
}

.edPrimaryButton( single-line; dark ) {
  .edPrimaryButton( @darkPurple3; @darkPurple2 );
}

.edPrimaryButton( double-line ) {
  .edSecondaryButton();
}

.edPrimaryButton( double-line; purple ) {
  .edPrimaryButton( @originalPurple; @lightPurple1 );
}

.edButtonTertiary() {
  .edType( heading-M );
  color: @originalWhite;
  padding: 1rem 2rem 3.5rem 2rem;
  width: 100%;
  background-color: @darkPurple3;
  border-bottom: 0.2rem solid @darkPurple1;
  &:active, &:hover, &:hover {
    background-color: @darkPurple1;
  }
}
