@backgroundColor: #F8F8F8;
@fontColor: #338877;

@border: #00FFFF;

@accent: #FF70F0;

/* Eardish color variables */

@mainColor: @originalPurple;

@originalPurple: #5D0C7B;
@lightPurple1: lighten(@mainColor, 10%), desaturate(@mainColor, 15%);
@darkPurple1: darken(@mainColor, 9%), desaturate(67%);
@darkPurple2: darken(@mainColor, 15%), desaturate(67%);
@darkPurple3: darken(@mainColor, 22%), desaturate(55%);

@originalTeal: #00A49E;

@originalOrange: #E97117;
@darkOrange1: darken(@originalOrange, 16%), saturate(8%);

@originalRed: #DF0029;
@darkRed1: darken(@originalRed, 22%);

@originalGrey: #453D4C;
@lightGrey1: lighten(@originalGrey, 31%), desaturate(@originalGrey, 6%);

@originalWhite: #FFFFFF;
