@originalPurple: #5D0C7B;
@lightPurple1: lighten(desaturate(@originalPurple, 15%), 10%);
@darkPurple1: darken(desaturate(@originalPurple, 67%), 9%);
@darkPurple2: darken(desaturate(@originalPurple, 67%), 15%);
@darkPurple3: darken(desaturate(@originalPurple, 55%), 22%);

@originalTeal: #00A49E;

@originalOrange: #E97117;
@darkOrange1: darken(saturate(@originalOrange, 8%), 16%), ;

@originalRed: #DF0029;
@darkRed1: darken(@originalRed, 22%);

@originalGrey: #453D4C;
@lightGrey1: lighten(desaturate(@originalGrey, 6%), 31%);

@originalWhite: #FFFFFF;
