/**
 * Created by Ryan Bogle on 11/10/14.
 */


@backgroundColor: #F8F8F8;
@fontColor: #338877;

@border: #00FFFF;

@accent: #FF70F0;

/* Eardish color variables */

@originalPurple: #5D0C7B;
@lightPurple1: #772297;
@darkPurple2: #30273A;
@darkPurple3: #20142C;
@darkPurple4: #150D1C;
@originalTeal: #00A49E;
@darkOrange1: #a94a03;
@originalRed: #Df0029;


