@import "../../styles/ed/colors.vars.less";
@import "../../styles/fonts/edTypeStyles.less";

.edErrorText {
  .edType( heading-XXS );
  text-align: left;
  color: @originalWhite;
  padding-bottom: 1%;
  margin: 0 3.5%;
  span {
    color: @originalRed;
  }
}
