@import "../../styles/ed/colors.vars.less";

.edMenuButton() {
  button {
    float: left;
    clear: none;
    height: 100%;
    width: 14%;
    border: none;
    background: transparent;
    outline: none;
    box-sizing: border-box;
    padding: 3%;
    ed-icon {
      width: 80%;
      height: 80%;
      fill: @lightGrey1;
    }
  }
}

