@import "../../styles/ed/colors.vars.less";

.edMenuButton() {
  button {
    position: absolute;
    left: 0;
    height: 9rem;
    width: 9rem;
    border: none;
    background: transparent;
    outline: none;
    ed-icon {
      width: 3rem;
      height: 3rem;
      fill: @lightGrey1;
      margin-left: -1.1rem;
    }
  }
}

