.heading-xxxlarge() {
  font-size: 5.9rem;
  font-family: "Ubuntu-Bold";
}

.heading-xxlarge() {
  font-size: 4.7rem;
  font-family: "Ubuntu-Bold";
}

.heading-xlarge() {
  font-size: 4rem;
  font-family: "Ubuntu-Medium";
}

.heading-large() {
  font-size: 3.6rem;
  font-family: "Ubuntu-Regular";
}

.heading-normal() {
  font-size: 3.1rem;
  font-family: "Ubuntu-Medium";
}

.heading-small() {
  font-size: 2.7rem;
  font-family: "Ubuntu-Regular";
}

.heading-xsmall() {
  font-size: 2.3rem;
  font-family: "Ubuntu-Medium";
}

.heading-xxsmall() {
  font-size: 1.8rem;
  font-family: "Ubuntu-Medium";
}

.paragraph-large() {
  font-size: 4rem;
  font-family: "Ubuntu-Medium";
}

.paragraph-normal() {
  font-size: 3.6rem;
  font-family: "Ubuntu-Regular";
}
