.headingXXXLarge() {
  font-size: 5.9rem;
  font-family: "Ubuntu-Bold";
}

.headingXXXLarge() {
  font-size: 4.7rem;
  font-family: "Ubuntu-Bold";
}

.headingXLarge() {
  font-size: 4rem;
  font-family: "Ubuntu-Medium";
}

.headingLarge() {
  font-size: 3.6rem;
  font-family: "Ubuntu-Regular";
}

.headingNormal() {
  font-size: 3.1rem;
  font-family: "Ubuntu-Medium";
}

.headingSmall() {
  font-size: 2.7rem;
  font-family: "Ubuntu-Regular";
}

.headingXSmall() {
  font-size: 2.3rem;
  font-family: "Ubuntu-Medium";
}

.headingXXSmall() {
  font-size: 1.8rem;
  font-family: "Ubuntu-Medium";
}

.paragraphLarge() {
  font-size: 4rem;
  font-family: "Ubuntu-Medium";
}

.paragraphNormal() {
  font-size: 3.6rem;
  font-family: "Ubuntu-Regular";
}
