.textStyle1() {
  font-size: 5.9rem;
  font-family: "Ubuntu-Bold";
}

.textStyle2() {
  font-size: 4.7rem;
  font-family: "Ubuntu-Bold";
}

.textStyle3() {
  font-size: 4rem;
  font-family: "Ubuntu-Medium";
}

.textStyle4() {
  font-size: 3.6rem;
  font-family: "Ubuntu-Regular";
}

.textStyle5() {
  font-size: 3.1rem;
  font-family: "Ubuntu-Medium";
}

.textStyle6() {
  font-size: 2.7rem;
  font-family: "Ubuntu-Regular";
}

.textStyle7() {
  font-size: 2.3rem;
  font-family: "Ubuntu-Medium";
}

.textStyle8() {
  font-size: 1.8rem;
  font-family: "Ubuntu-Medium";
}
