@import "../../styles/ed/colors.vars.less";
@import "../../styles/fonts/edTypeStyles.less";
@import "../../styles/ed/menu-button.mixin.less";

.edTitleBar() {
  color: @originalWhite;
  height: 11vh;
  text-transform: uppercase;
  border: 0;
  background-color: @darkPurple2;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  &, ed-menu-button::shadow {
    .edMenuButton();
  }

  h1 {
    .edType( sylvia-XXL );
    margin: 0;
    padding: 2vh;
    pointer-events: none;
  }
}

.edContentStyle() {
  margin-top: 12vh;
}
