<revolv-osel>
  <ul>
    <li>
      <img src="http://placehold.it/650x350/969e9b/ffffff&text=Slide+1" />
      <p> test content stuff</p>
    </li>
    <li>
      <img src="http://placehold.it/650x350/4db748/ffffff&text=Slide+3" />
    </li>
    <li>
      <img src="http://placehold.it/650x350/33449b/ffffff&text=Slide+4" />
    </li>
  </ul>
</revolv-osel>

<script>
  // Runs When imported
</script>

<template>
  <script>
    (function(){
      // runs when poc-viewer attaches it post element copy
    })();
  </script>
</template>
