revolv-osel > ul {
  overflow: hidden;
  min-width: 2600px;
  padding: 0;
  margin-bottom: 15px;
  list-style-type: none;
  transition: all 1.0s ease-in-out;
  & > * {
    float: left;
  }
  & img {
    height: 350px;
    width: 650px;
  }
}
