
revolv-osel > ul {
  overflow: hidden;
  min-width: 2600px;
  padding: 0;
  margin-bottom: 15px;
  list-style-type: none;
  -webkit-transition: all 1.0s ease-in-out;
  -moz-transition: all 1.0s ease-in-out;
  -ms-transition: all 1.0s ease-in-out;
  -o-transition: all 1.0s ease-in-out;
  transition: all 1.0s ease-in-out;
  & > * {
    float: left;
  }
}
