revolv-osel > ul {
  overflow: hidden;
  min-width: 2600px;
  padding: 0;
  margin-bottom: 15px;
  list-style-type: none;
  transition: all 1.0s ease-in-out;
  & > * {
    float: left;
  }
  & img {
    height: 350px;
    width: 650px;
  }
}

revolv-osel[visible="2"] > ul {
  img {
    height: 175px;
    width: 325px;
  }
}

revolv-osel[visible="3"] > ul {
  img {
    height: 116.66px;
    width: 216.66px;
  }
}

revolv-osel[visible="4"] > ul {
  img {
    height: 87.5px;
    width: 162.5px;
  }
}

revolv-osel[visible="5"] > ul {
  img {
    height: 35px;
    width: 130px;
  }
}
