<polymer-element name="poc-mixins" attributes="">
  <template>
    <link rel="stylesheet" href="./poc-mixins.css">

    <div id="less-test-transform-style">
      <div id="div2">HELLO
        <div id="div3">YELLOW</div>
      </div>
    </div>

    <div id="less-test-perspective">
      <div class="box">
      Perspective
      </div>
    </div>

    <div id="less-test-backface">
      Backface Visibility
    </div>

    <div id="less-test-regions">
      <div class="text">
        THIS IS CONTENT FOR REGIONS ONLY WORKS FOR SAFARI AND IE THIS IS CONTENT FOR REGIONS ONLY WORKS FOR SAFARI AND IE
        THIS IS CONTENT FOR REGIONS ONLY WORKS FOR SAFARI AND IE THIS IS CONTENT FOR REGIONS ONLY WORKS FOR SAFARI AND IE
        THIS IS CONTENT FOR REGIONS ONLY WORKS FOR SAFARI AND IE
      </div>
      <div class="containers"></div>
      <div class="containers"></div>
      <div class="containers"></div>
    </div>

    <div id="less-test-hyphens">
      <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name
        printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a
        mechan&shy;ical
        helicopter that shakes when you put quarters in it?opping for an infant named Jeb.</p>
    </div>

    <div id="less-test-text">
      <p class="kern"> Text Kerning fi</p>
      <p> Text Normal fi</p>
      <p class="smallcaps"> Text Smcp fi</p>
    </div>

    <div id="less-test-column">
      Columns: Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name
      printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical
      helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must
      think you're in a toy store, because you're here shopping for an infant named Jeb.
      Columns: Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name
      printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical
      helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must
      think you're in a toy store, because you're here shopping for an infant named Jeb.
      Columns: Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name
    </div>

    <div id="less-test-masks">
      Masks
    </div>

    <div id="less-test-flex">
      <div id="flex-item1">Flex 1</div>
      <div id="flex-item2">Flex 2</div>
      <div id="flex-item3">Flex 3</div>
    </div>

    <div id="less-test-filter">
      Filter
    </div>

    <div id="less-test-transform">
      Transform
    </div>

    <div id="less-test-animation">
      Animation
    </div>
  </template>
  <script src="./poc-mixins.js"></script>
</polymer-element>
