<select-box size="5" required disabled>
  <option value="apples">Apples</option>
  <option value="bananas">Bananas</option>
  <option value="pears">Pears</option>
  <option value="oranges">Oranges</option>
  <option value="peaches">Peaches</option>
  <option value="socks">Socks</option>
  <option value="cheese">Cheese</option>
  <option value="cream">Cream</option>
  <option value="boogers">Boogers</option>
  <option value="lameness">Lameness</option>
</select-box>

<template>
  <script>
    (function(){
      // runs when poc-viewer attaches it post element copy
    })();
  </script>
</template>
