
.select {
  position:  relative;
  overflow:  hidden;
  max-width: 150px;
  .label {
    padding: 8px;
    &:after{
      content: "";
      position: absolute;
      right: 0.5em;
      top: 0.9em;
      border: 0.5em solid transparent;
      border-top-color: #999;
    }
  }
  // current display box
  label {
    //width: 150px;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 8px;
    cursor: pointer;
  }
  .options {
    margin: 0;
    padding: 0;
    color: #666;
    height: 0;
    border-right: 1px dotted #999;
    border-left: 1px dotted #999;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    &:hover {
      height: auto;
      border-bottom: 2px solid #999;
    }
    li {
      // individual list boxes
      label {
        text-align: left;
        display:    block;
        padding:    6px 8px;
        cursor:     pointer;
        overflow:   hidden;
        box-sizing: border-box;
        &:hover {
          background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
        }
      }
      // hides radio button
      [type="radio"] {
        position: absolute;
        display: block;
        left: -999px;
        // content display on click
        &:checked ~ label:after {
          content: attr(data-title);
          display: block;
          position: absolute;
          top: 6px;
          right: 8px;
          padding: 8px 25px;
          color: #666;
          pointer-events: none;
          font-size: 80%;
          overflow: hidden;
        }
      }
    }
  }
}

.select #is-focus {
  position: absolute;
  display: block;
  top: -999px;
  &:focus {
    ~ label span.label:after {
      border-top-color: transparent;
      border-bottom-color: #999;
      top: 0.3em;
    }
    ~ .options {
      height: auto;
      border-bottom: 2px solid #999;
    }
  }
}
