<polymer-element name="select-box" attributes="size disabled required">
  <template>
    <link rel="stylesheet" href="./select-box.css">
      <div class="select">
        <input id="is-focus" type="radio" name="fruit"/>
        <label for="is-focus"><span class="label"></span></label>
        <ul class="options">
          <template repeat="{{opt in _options}}">
            <li>
              <input type="radio" name="fruit" value="{{opt.value}}" id="{{opt.value}}"/>
              <label for="{{opt.value}}" data-title="{{opt.label}}">{{opt.label}}</label>
            </li>
          </template>
        </ul>
      </div>
  </template>
  <script src="./select-box.js"></script>
</polymer-element>
