<polymer-element name="ed-forgot2-view" attributes="">
  <template>
    <link rel="stylesheet" href="./ed-forgot2-view.css">
    <div class="forgot-container">
      <!-- placeholder logo, to be replace when assets arrive -->
      <div class="ed-logo-header">Placeholder</div>
      <div class="ed-forgot-body">
        <div class="forgot-text">
          <span>We've sent a security code</span>
          <span>to your email. Once you get it</span>
          <span>enter it below and type your</span>
          <span>new password:</span>
        </div>
        <form id="forgot-form" method="post" role="form" action="#">
          <fieldset>
            <ed-icon-input type="email" placeholder="Your Email" icon="add189"></ed-icon-input>
            <span class="password-req-text"> *8 characters minimum </span>
            <ed-paired-input type="password" placeholder="Password"
                             icon="alarm52"></ed-paired-input>
          </fieldset>
          <button id="forgot-submit" type="submit" disabled>Set new password</button>
        </form>
      </div>
    </div>
  </template>
  <script src="ed-forgot2-view.js"></script>
</polymer-element>
