@import "../../../styles/ed/buttons.mixin.less";
@import "../../../styles/ed/colors.vars.less";
@import "../../../styles/ed/backgrounds.mixin.less";
@import "../../../styles/fonts/edTypeStyles.less";


* {
  font-family: "Ubuntu";
}

.ed-logo-header {
  .logoFormHeader();
  margin-bottom: 7rem;
}

.forgot-container {
  .mainPicturedBackground();
  height: 100%;
}

.hidden {
  display: none;
}

.forgot-text, .forgot-second-text {
  .edType( paragraph-L );
  font-weight: 400;
  font-size: 2.6rem;
  color: @originalWhite;
  opacity: .5;
  text-align: center;
  span {
    display: block;
  }
}

.forgot-second-text {
  margin: 6% 2% 2%;
}


.ed-forgot-body {
  text-align: center;
  fieldset {
    border: 0;
    margin-bottom: 0.5rem;
  }
  ed-form-input {
    margin: .5rem;
    text-align: center;
  }
}

#errorEmail, #errorServer {
  text-align: center;
  .edType( heading-S );
  color: @originalGrey;
}

#forgot-submit {
  .edPrimaryButton();
  margin-bottom: 2rem;
  bottom: 0;
}
#back-button {
  .edSecondaryButton();
  bottom: 13rem;
  margin: 0 auto;
  text-decoration: none;
}
