@import "../../../styles/mixins/hidden.less";
@import "../../../styles/ed/buttons.mixin.less";
@import "../../../styles/ed/colors.vars.less";
@import "../../../styles/ed/backgrounds.mixin.less";
@import "../../../styles/fonts/edTypeStyles.less";


* {
  font-family: Ubuntu;
}

.hidden();

.forgot-container {
  .mainPicturedBackground();
  height: 100vh;
  overflow-y: scroll;
}

.ed-logo-header {
  .logoFormHeader();
  width: 100%;
  height: 45vh;
}

.ed-forgot-body {
  text-align: center;
}

.forgot-text {
  .edType( heading-S );
  color: @lightGrey1;
  text-align: center;
  margin: 2%;
}

#errorEmail, #errorServer {
  .edType( heading-S );
  color: @lightGrey1;
  text-align: center;
}

ed-form-input {
  width: 95%;
  height: 8vh;
  margin: 0 2% 1vh;
}

#forgot-submit {
  .edPrimaryButton();
}

#back-button {
  .edPrimaryButton( @backgroundColor: @darkPurple3; @activeColor: @darkPurple1; );
  text-decoration: none;
}
