<link rel="import" href="../../../components/ed/ed-icon/ed-icon.html"/>

<polymer-element name="ed-forgot-pass-request-view" attributes="">
  <template>
    <link rel="stylesheet" href="./ed-forgot-pass-request-view.css">
    <div class="forgot-container">
      <div class="ed-logo-header">
        <ed-icon name="eardish-logo-with-slogan"></ed-icon>
      </div>
      <div class="ed-forgot-body">
        <div class="forgot-text">
          <span>Enter your email address that</span>
          <span> you used to register.</span>
        </div>
        <div class="forgot-second-text">
          <span>We'll send you an email with</span>
          <span>your username and a link to</span>
          <span>reset your password.</span>
        </div>
        <div id="errorServer" class="hidden">Hmmm... we can't seem to find that email address in our system. Please try again!</div>
        <div id="errorEmail" class="hidden">Please enter a valid email address</div>
        <div id="forgot-form">
          <ed-form-input class="email" type="email" placeholder="Your Email" icon="envelope"></ed-form-input>
          <button id="forgot-submit" class="invalid" on-click="{{submitRequest}}">Submit</button>
        </div>
        <a id="back-button" type="button" href="#/login">
          <br />back
        </a>
      </div>
    </div>
  </template>
  <script src="ed-forgot-pass-request-view.js"></script>
</polymer-element>
