@import "../../../styles/ed/buttons.mixin.less";
@import "../../../styles/ed/colors.vars.less";
@import "../../../styles/ed/backgrounds.mixin.less";
@import "../../../styles/fonts/edTypeStyles.less";


* {
  font-family: "Ubuntu";
}

.hidden {
  display: none;
}

.forgot-container {
  .mainPicturedBackground();
  height: 100vh;
}

.ed-logo-header {
  .logoFormHeader();
}

.forgot-text, .forgot-second-text {
  .edType( sylvia-S );
  color: @originalWhite;
  opacity: .5;
  text-align: center;
}

.forgot-second-text {
  margin: 6% 2% 2%;
}

.ed-forgot-body {
  text-align: center;
}

#errorEmail, #errorServer {
  text-align: center;
  .edType( heading-S );
  color: @originalTeal;
}

#forgot-submit {
  .edPrimaryButton();
}

#back-button {
  .edSecondaryButton();
  text-decoration: none;
}
