@import "../../../styles/ed/buttons.mixin.less";
@import "../../../styles/fonts/edTypeStyles.less";
@import "../../../styles/ed/colors.vars.less";
@import "../../../styles/mixins/prefixes/transforms.less";

* {
  font-family: "Ubuntu";
}

// created the dividers
hr {
  height: 0.5rem;
  border: 0;
  box-shadow: inset 0 0.5rem 0.5rem -0.5rem rgba(103, 103, 103, 0.50);
}

.ed-profile-artist-wrapper {
  margin: 0 auto;
  background: @darkPurple3;
  width: 100%;
  max-width: 59.6rem;
  .back-icon {
    width: 20%;
    border: none;
    background: transparent;
    ed-icon {
      width: 64%;
      display: block;
      text-align: center;
      .white( .5 );
      .transform( translateY(40%) );
    }
  }
  .image-wrapper {
    width: 100%;
    overflow: hidden;
    margin-top: -5rem;
    img-placeholder {
      width: 100%;
      max-height: 59.6rem;
    }
  }
  .profile-name {
    position: absolute;
    z-index: 1;
    left: 51%;
    margin-top: 1.5%;
    text-align: right;
    color: @white;
    .edType( heading-XXXL );
    span {
      display: block;
      color: @originalTeal;
      .edType( heading-S );
    }
  }
  .icon-section {
    height: 24rem;
    .icon-header {
      margin: 8% 0 4% 3%;
      color: @originalTeal;
      text-transform: uppercase;
      .edType( heading-XS );
    }
    ed-icon {
      width: 24%;
      height: 12rem;
      .transform( translateX(18%) );
      &::shadow {
        svg {
          width: 70%;
        }
      }
    }
  }
  .bio-section {
    background: @white;
    padding: 3%;
    .bio-header {
      color: @originalTeal;
      text-transform: uppercase;
      .edType( heading-XS );
    }
    .bio-body {
      margin-top: 4%;
      color: @darkPurple5;
      word-wrap: break-word;
      .edType( paragraph-M );
    }
  }
}


