<link rel="import" href="../../../components/ed/ed-icon/ed-icon.html"/>
<link rel="import" href="../../../components/ui/img-placeholder/img-placeholder.html"/>

<polymer-element name="ed-profile-artist" attributes="ed-id">
  <template>
    <link rel="stylesheet" href="./ed-profile-artist.css">
    <div class="ed-profile-artist-wrapper">
      <button class="back-icon">
        <ed-icon name="arrow-back"></ed-icon>
      </button>
      <ed-user-ranking top="Your" bottom="rank" rank="{{ edArtist.displayRank || 362 }}" teal></ed-user-ranking>
      <ed-user-ranking top="Songs" bottom="rated" rank="{{ edArtist.songsRated || 75 }}"></ed-user-ranking>
      <section class="image-wrapper">
        <div class="profile-name">
          <span>{{ edArtist.raw.displayName }}</span>
        </div>
        <img-placeholder src="{{ edArtist.displayImage }}" image="fillmurray"></img-placeholder>
      </section>
      <section class="icon-section">
        <div class="icon-header">Rewards</div>
        <hr>
        <ed-icon name="badge-hrs"></ed-icon>
        <ed-icon name="badge-mnf"></ed-icon>
        <ed-icon name="badge-empty"></ed-icon>
        <ed-icon name="badge-empty"></ed-icon>
        <hr>
      </section>
      <section class="bio-section">
        <div class="bio-header">Biography</div>
        <p class="bio-body">
          {{ edArtist.bio || "No Bio" }}
        </p>
      </section>
    </div>
  </template>
  <script src="ed-profile-artist.js"></script>
</polymer-element>
