<link rel="import" href="../../../components/ed/ed-icon/ed-icon.html"/>
<link rel="import" href="../../../components/ui/img-placeholder/img-placeholder.html"/>
<link rel="import" href="../../../components/ed/ed-menu-button/ed-menu-button.html"/>

<polymer-element name="ed-profile-artist" attributes="ed-id">
  <template>
    <link rel="stylesheet" href="../ed-profile-fan/ed-profile-fan.css">
    <div class="ed-profile-fan-wrapper">
      <header class="top-bar">
        <ed-menu-button></ed-menu-button>
        <div class="rankings-container">
          <ed-user-ranking id="songs-rated" top="Songs" bottom="Rated" rank="0"></ed-user-ranking>
          <ed-user-ranking id="complete-listens" top="Completed" bottom="Plays" rank="0" teal></ed-user-ranking>
        </div>
      </header>
      <section class="image-wrapper">
        <div class="profile-name artist-name">
          {{ edArtist.displayName }}
          <span>Artist/Band</span>
        </div>
        <img-placeholder src="{{ edArtist.art.phoneLarge }}" image="artist"></img-placeholder>
      </section>
      <section class="icon-section">
        Rewards
      </section>
      <hr>
      <section class="badge-section">
        <ed-icon name="badge-empty"></ed-icon>
        <ed-icon name="badge-empty"></ed-icon>
        <ed-icon name="badge-empty"></ed-icon>
        <ed-icon name="badge-empty"></ed-icon>
      </section>
      <hr>
      <section class="bio-section">
        <div class="bio-header">Biography</div>
        <p id="bio-content" class="bio-body"></p>
      </section>
    </div>
  </template>
  <script src="ed-profile-artist.js"></script>
</polymer-element>
