<link rel="import" href="../../../components/ed/ed-icon/ed-icon.html"/>
<link rel="import" href="../../../components/ui/img-placeholder/img-placeholder.html"/>
<link rel="import" href="../../../components/ed/ed-menu-button/ed-menu-button.html"/>

<polymer-element name="ed-profile-artist" attributes="ed-id">
  <template>
    <link rel="stylesheet" href="../ed-profile-fan/ed-profile-fan.css">
    <div class="ed-profile-fan-wrapper">
      <ed-menu-button></ed-menu-button>
      <ed-user-ranking top="Completed" bottom="Plays" rank="{{ edArtist.displayRank || 362 }}" teal></ed-user-ranking>
      <ed-user-ranking top="Songs" bottom="Rated" rank="{{ edArtist.songsRated || 75 }}"></ed-user-ranking>
      <section class="image-wrapper">
        <div class="profile-name"> {{ edArtist.displayName }}
          <span>Artist/Band</span>
        </div>
        <img-placeholder src="{{ edArtist.art.original }}" image="fillmurray"></img-placeholder>
      </section>
      <section class="icon-section">
        <div class="icon-header">Rewards</div>
        <hr>
        <ed-icon name="badge-hrs"></ed-icon>
        <ed-icon name="badge-empty"></ed-icon>
        <ed-icon name="badge-empty"></ed-icon>
        <ed-icon name="badge-empty"></ed-icon>
        <hr>
      </section>
      <section class="bio-section">
        <div class="bio-header">Bio</div>
        <p class="bio-body">
          {{ edArtist.bio || "No Bio" }}
        </p>
      </section>
    </div>
  </template>
  <script src="ed-profile-artist.js"></script>
</polymer-element>
