@import "../../../styles/ed/buttons.mixin.less";
@import "../../../styles/fonts/edTypeStyles.less";
@import "../../../styles/ed/colors.vars.less";

.ed-profile-artist-wrapper {
  background-color: @darkPurple3;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  hr {
    height: 0.5rem;
    border: 0;
    box-shadow: inset 0 0.5rem 0.5rem -0.5rem rgba(103, 103, 103, 0.50);
  }
}

.songs-rated-text, .rank-text {
  color: @white;
  opacity: 0.5;
  float: left;
  padding: 0.3rem 0.5rem;
  .edType( heading-XXS );
  span {
    display: block;
  }
}

.songs-rated-box, .rank-box {
  color: @white;
  opacity: 0.5;
  float: right;
  padding: 0.3rem 0.6rem;
  .edType( heading-M );
}

.user-rank, .songs-rated {
  float: right;
  margin: 4% 3%;
  text-transform: uppercase;
}

.back-icon {
  ed-icon {
    fill: @white;
    height: 5vh;
    width: 35%;
    position: absolute;
    top: 1%;
    left: 0;
  }
}

.songs-rated {
  margin-right: 0.5%;
}

.songs-rated-box {
  border: 0.3rem solid @originalPurple;
}

.rank-box {
  border: 0.3rem solid @originalTeal;
}

.image-wrapper {
  width: 100%;
  height: 70%;
  overflow: hidden;
  .profile-image {
    img-placeholder {
      width: 100%;
    }
  }
}

.profile-name {
  position: absolute;
  z-index: 1;
  right: 4%;
  margin-top: 1.5%;
  text-align: right;
  color: @white;
  .edType( heading-XXXL );
  span {
    display: block;
    color: @originalTeal;
    .edType( heading-S );
  }
}

.icon-section {
  padding: 4% 0 2% 0;
  .icon-header {
    color: @originalTeal;
    margin-left: 3%;
    text-transform: uppercase;
    .edType( heading-XS );
  }
  .icon-bar-wrapper {
    padding: 4% 1.5%;
    ed-icon {
      width: 39%;
      margin: 9% -18% 0 3%;
    }
  }
}

.bio-section {
  background: @white;
  padding: 4% 0 2% 0;
  margin-bottom: 10%;
  .bio-header {
    color: @originalTeal;
    margin-left: 3%;
    text-transform: uppercase;
    .edType( heading-XS );
  }
  .bio-body {
    color: @darkPurple5;
    padding: 2%;
    .edType( paragraph-M );
  }
}

