@import "../../../styles/mixins/prefixes/transforms.less";
@import "../../../styles/ed/alignments.mixin.less";

:host {
  display: inline-block;
}

:host:not( [name] ) {
  display: none;
}

svg {
  width: inherit;
  height: inherit;
  margin: 0 auto;
}

.flip0 {
  .verticalAlign();
}

.flip90 {
  .transform( rotate(90deg) );
  .verticalAlign();
}

.flip180 {
  .verticalAlign();
  .transform( rotate(180deg) );
}

.flip270 {
  .verticalAlign();
  .transform( rotate(270deg) );
}
