<link rel="import" href="../ed-icon/ed-icon.html"/>

<polymer-element name="ed-paired-input" attributes="icon type placeholder">
  <template>
    <link rel="stylesheet" href="ed-paired-input.css">
      <div class="ed-paired-input-primary-wrapper">
        <ed-icon class="inner-icon align" name="{{icon}}"></ed-icon>
        <input class="align" id="primary-box" type="{{type}}"
               pattern="^\w{8,}"
               placeholder="{{placeholder}}" />
      </div>
      <div class="ed-paired-input-confirm-wrapper confirm-container">
        <ed-icon name="{{icon}}-check"></ed-icon>
        <input class="align" id="confirm-box" type="{{type}}" placeholder="Type {{placeholder}} Again" />
      </div>
  </template>
  <script src="ed-paired-input.js"></script>
</polymer-element>
