@import "../../../styles/ed/colors.vars.less";
@import "../../../styles/mixins/prefixes/placeholder.less";
@import "../../../styles/fonts/edTypeStyles.less";
@import "../../../styles/ed/alignments.mixin.less";

#primaryBox, #confirmBox {
  display: block;
}

#error {
  color: @originalTeal;
  font-size: 2.7rem;
}

.primary-wrapper, .confirm-wrapper {
  height: 7.5rem;
  width: 98%;
  max-width: 59.6rem;
  background-color: @darkPurple4;
  margin: -.33rem auto;
  box-shadow: .4rem .4rem 0 0 fade(@darkPurple5, 75%) inset;
  input {
    .edType( heading-M );
    .white( .75 );
    .verticalAlign();
    float: left;
    background: transparent;
    border: 0;
    outline: 0;
    .input-placeholder( { .white( .33 ) } );
  }
  &.confirm-container {
    margin-top: .8rem;
  }
}

ed-icon {
  /* for svg height and width dimensions must be declared and they work like regular CSS max-width or max-height
  */
  width: 3rem;
  height: 50%;
  .white( .50 );
  pointer-events: none;
  float: left;
  padding: 0 2rem;
  .verticalAlign();
}

:host([invalid-primary]) {
  .primary-wrapper {
    background-color: @originalRed;
    border-color: @darkRed1;
  }
}

:host([invalid-confirm]) {
  .confirm-wrapper {
    background-color: @originalRed;
    border-color: @darkRed1;
  }
}

