/***
 * Keyframes mixin
 * .keyframes( @name:string, @rules:{ keyframe block } );
 *
 * This will build a set of keyframe definitions with the given
 * prefixes.
 *
 * Example:
 ```less
  .keyframes("my-fade-animation", {
    from {
      opacity: 0;
    }
    50% {
      opacity: 0.3;
    }
    to{
      opacity: 1;
    }
  });
 ```
***/
.keyframes( @name, @rules ) {
  @-webkit-keyframes @name {
    @rules();
  }
  @keyframes @name {
    @rules();
  }
}

/***
 * Animation property mixin
 * .animation();
 *
 * Example:
 *   .animation( my-fade-animation 3s, my-other-animation 2s 2s ; );
***/
.animation( @animation ) {
  -webkit-animation+: @animation;
  animation+: @animation;
}

/***
 * Example
 * .animation( my-fade-animation; 3s; @delay: 2s );
 *
 * This animation mixin requires a name and duration, but for every additional parameter
 * there needs to be an @parameterName: value. The following is a list of usable parameters
 * for this mixin are as follows:
 * @name: a name of your custom animation
 * @duration: a numerical value (Default is 0)
 * @timingFn: linear, ease, ease-in, ease-out, ease-in-out, cubic-bezier(n,n,n,n)
 * @delay: a numerical value (Default is 0)
 * @iterationCount: a numerical value (Default is 1), infinite
 * @direction: normal, reverse, alternate, alternate-reverse
 * @fillMode: none, forwards, backwards, both
 * @playState: paused, running
 ***/
.animation( @name; @duration; @timingFn: ease; @delay: 0s; @iterationCount: 1; @direction: normal; @fillMode: none; @playState: running ) {
  -webkit-animation+: @name @duration @timingFn @delay @iterationCount @direction @fillMode @playState;
          animation+: @name @duration @timingFn @delay @iterationCount @direction @fillMode @playState;
}
