/***
 * Masks property mixin
 * .masks();
 *
 * Currently this mixin only supports Webkit due to low support for other browsers
 * will be improved upon for other browsers moving forward
 *
 * Example:
 * .masks( url('images/mask.png'); @repeat: no-repeat; @attach: scroll );
 *
 * .masks is a mixin for -webkit-mask which is shorthand for
 * <mask-image> [<mask-repeat> || <mask-attachment> || <mask-position> || <mask-origin> || <mask-clip>]
 * This mixin will take in the following parameters with its respective values
  @image: url('somekindofimage.png')| -webkit-gradient | none
  @repeat: repeat | repeat-x | repeat-y | no-repeat | inherit
  @attach: scroll | fixed
  @position: [ <percentage>| <length>| left | center | right  ]  [ <percentage> | <length> | top  | center | bottom ]
  @origin: [padding | border | content]
  @clip: border | padding | content | text

***/
.masks( @image; @repeat: repeat; @attach: scroll; @position: 0% 0%; @origin: padding; @clip: border ) {
  //-webkit-mask: @image @repeat @attach @position @origin @clip;
  -webkit-mask-image: @image;
  -webkit-mask-repeat: @repeat;
  -webkit-mask-attachment: @attach;
  -webkit-mask-position: @position;
  -webkit-mask-origin: @origin;
  -webkit-mask-clip: @clip;
}

