@import "../../styles/ed/list-style.mixin.less";
@import "../../styles/fonts/edTypeStyles.less";
@import "../../styles/ed/colors.vars.less";
@import "../../styles/ed/alignments.mixin.less";
@import "../../styles/mixins/prefixes/transforms.less";
@import "../../styles/mixins/prefixes/animations.less";

:host([class="show-menu"]) {
  .animation( slideMenuIn .33s ease-in-out forwards);
}

:host {
  position: absolute;
  float: left;
  width: 84%;
  padding-top: 5vh;
  margin: 0;
  height: 100vh;
  background: @originalWhite;
  .animation( slideMenuOut .33s ease-in-out forwards );
}

.menu-wrapper {
  .menu-list {
    a {
      text-decoration: none;
      box-sizing: border-box;
      height: 13vh;
      display: block;
      .edType( sylvia-M );
      line-height: 3.5;
      color: @darkPurple3;
      border-left: 2.1rem solid transparent;
      ed-icon {
        margin-right: 9%;
        float: left;
        width: 13vw;
        height: 100%;
        vertical-align: middle;
        fill: @lightGrey1;
      }
      &:hover, :focus {
        border-left-color: @originalPurple;
      }
    }
  }
  .profile-bar {
    height: 13vh;
    width: 75vw;
    position: absolute;
    bottom: 17vh;
    border-left: 2.1rem solid transparent;
    .img-container {
      height: 100%;
      width: 25%;
      float: left;
    }
    p {
      float: left;
      padding-left: 5%;
      .edType( sylvia-XS );
      color: @darkPurple3;
    }
    &:hover, :focus {
      border-left-color: @originalPurple;
    }
  }
}

.keyframes( slideMenuOut, {
0% {
  .transform( translateX( 0% ));
}
100% {
  .transform( translateX( -100% ));
}

});

.keyframes( slideMenuIn, {
0% {
  .transform( translateX( -100% ));
}
100% {
  .transform( translateX( 0% ));
}
});
