<link rel="import" href="../../components/ui/img-placeholder/img-placeholder.html"/>
<link rel="import" href="../../components/ed/ed-icon/ed-icon.html"/>

<polymer-element name="ed-side-menu" attributes="ed-id hide">
  <template>
    <link rel="stylesheet" href="./ed-side-menu.css">
    <div class="menu-wrapper">
      <nav class="menu-list">
        <a id="discover-button" href="#/discover">
          <ed-icon name="discover"></ed-icon>
          Discover
        </a>
        <a id="charts-button" href="#/charts">
          <ed-icon name="charts"></ed-icon>
          Charts
        </a>
        <a id="invite-button" href="#/referral">
          <ed-icon name="invite-friends"></ed-icon>
          Invite Friends
        </a>
        <a id="settings-button" href="#/settings">
          <ed-icon name="settings"></ed-icon>
          Settings
        </a>
      </nav>
      <!-- TODO replace with an actual profile id  -->
      <a class="profile-bar" href="#/fan/{{ profileId }}">
        <div class="img-container">
          <img-placeholder src="{{ edFan.displayImage }}" image="fan"></img-placeholder>
        </div>
        <p>{{ edFan.displayName }}</p>
      </a>
    </div>
  </template>
  <script src="ed-side-menu.js"></script>
</polymer-element>
