<polymer-element name="ed-side-menu" attributes="ed-id">
  <template>
    <link rel="stylesheet" href="./ed-side-menu.css">
    <div class="menu-wrapper">
      <nav class="menu-list">
        <a id="discover-button">
          <ed-icon name="discover"></ed-icon>
          Discover
        </a>
        <a id="charts-button">
          <ed-icon name="charts"></ed-icon>
          Charts
        </a>
        <a id="invite-button">
          <ed-icon name="invite-friends"></ed-icon>
          Invite Friends
        </a>
        <a id="settings-button">
          <ed-icon name="settings"></ed-icon>
          Settings
        </a>
      </nav>
      <div class="profile-bar">
        <div class="img-container">
          <img-placeholder src="{{ edFan.displayImage }}" image="fillmurray"></img-placeholder>
        </div>
        <p>{{ edFan.displayName || "Jeff Lin" }}</p>
      </div>
    </div>
  </template>
  <script src="ed-side-menu.js"></script>
</polymer-element>
