@import "../../styles/ed/list-style.mixin.less";
@import "../../styles/fonts/edTypeStyles.less";
@import "../../styles/ed/colors.vars.less";
@import "../../styles/ed/alignments.mixin.less";
@import "../../styles/mixins/prefixes/transforms.less";
@import "../../styles/mixins/prefixes/animations.less";

:host([class="show-menu"]) {
  .animation( slideMenuIn .33s ease-in-out forwards);
}

:host {
  position: absolute;
  float: left;
  width: 84%;
  padding-top: 6rem;
  margin: 0;
  height: 100vh;
  background: @originalWhite;
  .animation( slideMenuOut .33s ease-in-out forwards );
}

.menu-wrapper {
  #menu-list {
    a {
      text-decoration: none;
      box-sizing: border-box;
      height: 9.6rem;
      display: block;
      .edType( heading-L );
      line-height: 3.5;
      color: @darkPurple3;
      vertical-align: middle;
      padding-left: 2rem;
      border-left: 2.1rem solid transparent;
      ed-icon {
        margin-right: 2rem;
        float: left;
        width: 6rem;
        height: 100%;
        vertical-align: middle;
        fill: @lightGrey1;
      }
      &:hover, :focus {
        border-left-color: @originalPurple;
      }
    }
  }
  .profile-bar {
    position: absolute;
    bottom: 8rem;
    border-left: 2.1rem solid transparent;
    .img-container {
      height: 6.8rem;
      width: 6.8rem;
      float: left;
      padding-left: 2rem;
    }
    p {
      float: left;
      padding-left: 1.5rem;
      .edType( heading-S );
      color: @darkPurple3;
    }
    &:hover, :focus {
      border-left-color: @originalPurple;
    }
  }
}

.keyframes( slideMenuOut, {
0% {
  .transform( translateX( 0% ));
}
100% {
  .transform( translateX( -100% ));
}

});

.keyframes( slideMenuIn, {
0% {
  .transform( translateX( -100% ));
}
100% {
  .transform( translateX( 0% ));
}
});
